﻿@using System.Web.Optimization
@using PSWebApp.Models
@{
    ViewBag.title = "Exchange Rate Main";
    Layout = "~/Views/Shared/_PrototypeLayout.cshtml";
    String currentAction = ViewContext.RouteData.Values["action"].ToString();
    String currentController = ViewContext.RouteData.Values["controller"].ToString();

    DateTime today = DateTime.Now;
}
@section HeaderLeft {
    @Html.Partial("_NavigationPartial", new NavigationModel() { Title = "Exchange Rate", Instruction = "Exchange Rate", Url = Url.Action("Index", "Home") })
}
<div class="hero">
    <div class="form-group fieldset-row">
        <div class="filterBox">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                <div class="form-row">
                    <label class="col-lg-2 col-md-2 col-sm-2 control-label">Date</label>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-5">
                        <div class="form-group row">
                            <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                <div class="input-group date" id="exchange-eff-date" data-date="@today.ToString("dd/MM/yyyy")">
                                    <input id="input-exchange-eff-date" class="form-control input-sm" type="text" readonly="readonly" value="@today.ToString("dd/MM/yyyy")">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    <input id="exchange-input-date" type="hidden" name="exchange-eff-date" value="@today.ToString("dd/MM/yyyy")" />
                                </div>
                            </div>
                            <label class="col-lg-2 col-md-2 col-sm-2 control-label">Exchange Rate :</label>
                            <div class="text-left-lg col-md-4 col-sm-4 col-xs-12 col-sm-offset-0">
                                <input type="number" step="0.01" class="form-control" id="txtexchange" placeholder="Rate" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                <hr />
                <div class="form-row">
                    <div class="col-lg-offset-4 col-md-2 col-sm-4 col-xs-12 col-sm-offset-0">
                        <button type="button" id="btn-submit-exchange-rate" class="btn btn-new form-control col-xs-12 disabled"><i class="fa fa-pencil-square-o"></i>&nbsp;Submit</button>
                        @*<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#redryC-modal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Add New</button>*@
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12 col-sm-offset-0">
                        <button type="button" id="btn-delete-exchange-rate" class="btn btn-danger btn-bold btn-block disabled"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table id="exchange-table" class="table table-striped"
           data-pagination="true"
           data-side-pagination="server"
           data-sort-name="code"
           data-sort-order="asc">
        <thead>
            <tr>
                <th data-field="effective_date" data-sortable="true" data-width="200" align="center">Effective Date</th>
                <th data-field="exchange_rate" data-sortable="true" data-width="200" align="right">Exchange Rate</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

</div>

@section Styles {
    @Styles.Render("~/Content/views/setup")
    @Styles.Render("~/Content/bootstrap-table")
}
@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-table/bootstrap-table.js")"></script>
    @Scripts.Render("~/bundles/scripts/exchange")
    @Scripts.Render("~/bundles/scripts/bootstrap-datepicker")
}