﻿@using System.Web.Optimization
@model PSWebApp.Models.LoginViewModel
@{
    ViewBag.Title = "STEC Log in";
    Layout = "~/Views/Shared/_PrototypeLayout.cshtml";
}
<div class="logon-container">
    @*<div style="text-align: center; padding: 10px 15px;">
        <img class="img-responsive center-block" src="@Url.Content("~/Content/images/logo_white.png")">
    </div>*@
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin", @role = "form", @autocomplete = "off" }))
    {
        <div class="form-group fieldset-row">
            <h3>Username: </h3>
            @Html.TextBoxFor(a => a.C_USER_LOGIN, new { @class = "form-control signin", @tabindex = "1", @placeholder = "Username", @autofocus = "", @type = "text", @autocomplete = "off" })
            <div class="form-group fieldset-row">
                <h3>Password: </h3>
                @Html.TextBoxFor(a => a.C_PASSWORD, new { @class = "form-control signin", @tabindex = "2", @placeholder = "Password", @type = "password", @autocomplete = "off" })
            </div>
        </div>
        <div class="form-group fieldset-row">
            @if (ViewData.ModelState.Values.Any())
            {
                <div id="model-error" class="text-center col-md-6 col-lg-12">
                    <span class="field-validation-error"><span>@Html.Raw(String.Join("<br/>", ViewData.ModelState.Values.SelectMany(m => m.Errors).Select(m => m.ErrorMessage)))</span></span>
                </div>
            }
            <div id="username-error" class="text-center col-md-6 col-lg-12" style="display: none;">
                <span class="field-validation-error"><span>Please type your username</span></span>
            </div>
            <div id="password-error" class="text-center" style="display: none;">
                <span class="field-validation-error"><span>Please type your password</span></span>
            </div>
        </div>
        <input type="hidden" name="returnUrl" value="@(Request.QueryString["ReturnUrl"] == null ? Model.ReturnURL : Request.QueryString["ReturnUrl"])" />
        <div class="form-group fieldset-row">
            <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-lg-6 col-md-6 col-sm-6">
                <input type="submit" id="btn-logon" class="btn btn-standard btn-block" name="btn-logon" value="Sign in" />
            </div>
        </div>
    }
    @*<div style="clear: both; text-align: center; padding-top: 5px; border-top: 1px solid #aaa; margin-top: 20px;">
        <div style="float: left;"><a class="link" href="@Url.Action("NewRegister", "Account")">Sign up</a></div>
        <div style="float: right;"><a class="link" href="@Url.Action("Recovery", "Account")">Forgot Password or Username</a></div>
    </div>*@
</div>
@section Styles {
    @Styles.Render("~/Content/views/logon")
    @Styles.Render("~/Content/css/validation")
}
@section Scripts {
    @Scripts.Render("~/bundles/scripts/logon")
}


@*<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use a pricing account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.C_USER_LOGIN, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.C_USER_LOGIN, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.C_USER_LOGIN, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.C_PASSWORD, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.C_PASSWORD, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.C_PASSWORD, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>*@
