﻿@using System.Web.Optimization
@using PSWebApp.Models
@{
    ViewBag.title = "Hand Strip Details";
    Layout = "~/Views/Shared/_PrototypeLayout.cshtml";
    String currentAction = ViewContext.RouteData.Values["action"].ToString();
    String currentController = ViewContext.RouteData.Values["controller"].ToString();
    UserInfo currentUser = (UserInfo)ViewBag.CurrentUser;

    DateTime today = DateTime.Now;
}
@model PSWebApp.Models.RegradeModels
@section HeaderLeft {
    @Html.Partial("_NavigationPartial", new NavigationModel() { Title = "Regrade Details", Instruction = "Show regrade Details ", Url = Url.Action("Index", "Regrade") })
}
@using (Html.BeginForm("EditRegrade", "Regrade", FormMethod.Post, new { @id = "frm-regrade-details", @class = "form-horizontal", @role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="hero">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group fieldset-row">
            <div class="filterBox">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Regrade No :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @Html.EditorFor(model => model.RegradeNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Transfer no", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.RegradeNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Document No :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @Html.EditorFor(model => model.DocumentNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Document no", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.DocumentNo, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Document Date :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @{ Html.EnableClientValidation(false); }
                                    @Html.EditorFor(model => model.DocumentDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Document Date", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.DocumentDate)
                                    @{ Html.EnableClientValidation(true); }
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Company Code :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.CompanyCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Company Code", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.CompanyCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Crop :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @Html.EditorFor(model => model.Crop, "", new { htmlAttributes = new { @class = "form-control", @placeholder = "Crop", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Crop, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Type :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control", @placeholder = "Type", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Season :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.Season, new { htmlAttributes = new { @class = "form-control", @placeholder = "Season", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Season, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Total Amount :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Total Amount", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.TotalAmount, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Total Weight :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.TotalWeight, new { htmlAttributes = new { @class = "form-control", @placeholder = "Total Weight", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.TotalWeight, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Average Price :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.AveragePrice, new { htmlAttributes = new { @class = "form-control", @placeholder = "Average Price", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.AveragePrice, "", new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>
                    </div>
                </div>       
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <hr>
                    <div class="form-row">
                        @if (string.IsNullOrEmpty(Model.DocumentNo))
                        {
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="width:15%; margin-left:35%; margin-right:30%;">
                                <button type="submit" id="btn-add-regrade" class="btn btn-primary btn-bold btn-block"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="width:15%; margin-left:35%; margin-right:30%;">
                                <button type="button" id="btn-delete-regrade" class="btn btn-danger btn-bold btn-block"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>          
        <div>
            <table id="RegradeD-table" data-url="@Url.Action("JsonRegradeDetails", "Regrade")" class="table table-striped"
                    data-pagination="true"
                    data-side-pagination="server"
                    data-sort-name="bale_no"
                    data-sort-order="asc">
                <thead>
                    <tr>
                        <th data-field="green_grade" data-sortable="true" class="hidden-md">Green Grade</th>
                        <th data-field="classified" data-sortable="true">Classified Grade</th>
                        <th data-field="bale_no" data-sortable="true" data-width="100">Bale no</th>
                        <th data-field="weight" data-sortable="true">Weight</th>
                        <th data-field="unit_price" data-sortable="true" >Unit Price</th>
                        <th data-field="amount" data-sortable="true">Amount</th>
                        <th data-field="flag_io" data-sortable="true">Flag IO</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        </div>       
}
@section Styles {
    @Styles.Render("~/Content/views/receiving")
    @Styles.Render("~/Content/bootstrap-table")
}
@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-table/bootstrap-table.js")"></script>
    @Scripts.Render("~/bundles/scripts/regradeD")
 }

