﻿@using System.Web.Optimization
@{
    ViewBag.title = "Information Not Found";
    Layout = "~/Views/Shared/_PrototypeLayout.cshtml";
}
<div class="container landing">
    <div class="jumbotron text-center" style="margin-top: 150px;">
        <h1>Data Not Found</h1>
        <p>This Exchange Rate not found, Please Check your Effective Date.</p>
        @Html.ActionLink("Return to Exchange Rate page", "Index", "ExchangeRate", null, new { @class = "btn btn-primary" })
    </div>
</div>
@section Styles { @Styles.Render("~/Content/css/views/landing-success.css") }
