﻿@using System.Web.Optimization
@using PSWebApp.Models
@{
    ViewBag.title = "Receiving Details";
    Layout = "~/Views/Shared/_PrototypeLayout.cshtml";
    String currentAction = ViewContext.RouteData.Values["action"].ToString();
    String currentController = ViewContext.RouteData.Values["controller"].ToString();
    UserInfo currentUser = (UserInfo)ViewBag.CurrentUser;

    DateTime today = DateTime.Now;

    string RecordType = "";
    if (Model.RecordType == "B")
    { RecordType = "Delivery and Purchase"; }
    else if (Model.RecordType == "R")
    { RecordType = "Delivery Only"; }
    else
    { RecordType = "Delivery and Purchase"; }
}
@model PSWebApp.Models.ReceivingModels
@section HeaderLeft {
    @Html.Partial("_NavigationPartial", new NavigationModel() { Title = "Receiving Details", Instruction = "Show all Receiving data", Url = Url.Action("Index", "Receiving") })
}
@using (Html.BeginForm("EditReceiving", "Receiving", FormMethod.Post, new { @id = "frm-receiving-details", @class = "form -horizontal", @role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="hero">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group fieldset-row">
            <div class="filterBox">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Record Type :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    <p class="form-control-static" style="margin-top:5px;">@(String.IsNullOrWhiteSpace(RecordType) ? "" : RecordType )</p>
                                    @Html.ValidationMessageFor(model => model.RecordType, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Receiving No. :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.ReceivingNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Receiving no" , @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.ReceivingNo, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Buying Doc No. :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.BuyingDocNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Buying Document no", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.BuyingDocNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group fieldset-row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                        <div class="form-row">
                            <label class="col-lg-2 col-md-2 col-sm-2 control-label">Document No. :</label>
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                <div class="form-group row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                        @Html.EditorFor(model => model.DocumentNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Document no", @readonly = true } })
                                        @Html.ValidationMessageFor(model => model.DocumentNo, "", new { @class = "text-danger" })
                                    </div>
                                    <label class="control-label col-lg-2 col-md-2 col-sm-2">Document Date :</label>
                                    <div class="col-lg-3 col-md-3 col-sm-3 validation-cell" data-date-format="dd/mm/yyyy">
                                        @{ Html.EnableClientValidation(false); }
                                        @Html.EditorFor(model => model.DocumentDate, "", new { htmlAttributes = new { @class = "form-control", @placeholder = "Document Date", @readonly = true } })
                                        @Html.ValidationMessageFor(model => model.DocumentDate) 
                                        @{ Html.EnableClientValidation(true);}
                                    </div>
                                    <label class="control-label col-lg-2 col-md-2 col-sm-2">Company Code :</label>
                                    <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                        @Html.EditorFor(model => model.CompanyCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Company Code", @readonly = true } })
                                        @Html.ValidationMessageFor(model => model.CompanyCode, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Crop :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @Html.EditorFor(model => model.Crop, new { htmlAttributes = new { @class = "form-control", @placeholder = "Crop", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Crop, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Type :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control", @placeholder = "Type", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Season :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.Season, new { htmlAttributes = new { @class = "form-control", @placeholder = "Season", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Season, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Curer Code :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @Html.EditorFor(model => model.CurerCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Curer Code", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.CurerCode, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Curer Name :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.CurerName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Curer Name", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.CurerName, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Area :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.Area, new { htmlAttributes = new { @class = "form-control", @placeholder = "Area", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Green Price Code :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">                            
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @Html.EditorFor(model => model.GreenPriceCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Green Price Code", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.GreenPriceCode, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Total Weight Buy :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.WeightBuy, new { htmlAttributes = new { @class = "form-control", @placeholder = "Weight Buy", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.WeightBuy, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Average Price Buy :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.AveragePriceBuy, new { htmlAttributes = new { @class = "form-control", @placeholder = "Average Price Buy", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.AveragePriceBuy, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Total Amount :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Amount", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.TotalAmount, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Total Weight Rec :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.WeightReceived, new { htmlAttributes = new { @class = "form-control", @placeholder = "Weight Received", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.WeightReceived, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Average Price Rec :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.AveragePriceRec, new { htmlAttributes = new { @class = "form-control", @placeholder = "Average Price Rec", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.AveragePriceRec, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <hr>
                    <div class="form-row">
                        @if (string.IsNullOrEmpty(Model.DocumentNo))
                        {
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="width:15%; margin-left:35%; margin-right:30%;">
                                <button type="submit" id="btn-add-receiving" class="btn btn-primary btn-bold btn-block"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="width:15%; margin-left:35%; margin-right:30%;">
                                <button type="button" id="btn-delete-receiving" class="btn btn-danger btn-bold btn-block"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>          
        <div>
            <table id="receiving-table" data-url="@Url.Action("JsonReceivingDetails", "Receiving")" class="table table-striped"
                    data-pagination="true"
                    data-side-pagination="server"
                    data-sort-name="bale_no"
                    data-sort-order="asc">
                <thead>
                    <tr>
                        <th data-field="bale_no" data-sortable="true" data-width="100">Bale no</th>
                        <th data-field="green_grade" data-sortable="true">Buying Grade</th>
                        <th data-field="classified_grade" data-sortable="true" class="hidden-md">Classified Grade</th>
                        <th data-field="buy_weight" data-sortable="true">Buy Weight</th>
                        <th data-field="weight" data-sortable="true">Rec Weight</th>
                        <th data-field="unit_price" data-sortable="true">Unit Price</th>
                        <th data-field="t_charge" data-sortable="true">Trans Charge</th>
                        <th data-field="total_unit_price" data-sortable="true" >New Unit Price</th>
                        <th data-field="amount" data-sortable="true">Amount</th>
                        <th data-field="fcv_class" data-sortable="true" data-width="50">FCV</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        </div>       
}
@section Styles {
    @Styles.Render("~/Content/views/receiving")
    @Styles.Render("~/Content/bootstrap-table")
}
@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-table/bootstrap-table.js")"></script>
    @Scripts.Render("~/bundles/scripts/receivingD")
 }

