﻿@using System.Web.Optimization
@using PSWebApp.Models
@{
    ViewBag.title = "Processing Ready Details";
    Layout = "~/Views/Shared/_PrototypeLayout.cshtml";
    String currentAction = ViewContext.RouteData.Values["action"].ToString();
    String currentController = ViewContext.RouteData.Values["controller"].ToString();
    UserInfo currentUser = (UserInfo)ViewBag.CurrentUser;

    DateTime today = DateTime.Now;
}
@model PSWebApp.Models.ProcessReadyModels
@section HeaderLeft {
    @Html.Partial("_NavigationPartial", new NavigationModel() { Title = "Processing Product Details", Instruction = "Show Processing Product Details ", Url = Url.Action("Index", "ProcessReady") })
}
@using (Html.BeginForm("EditProcessReady", "ProcessReady", FormMethod.Post, new { @id = "frm-process-ready-details", @class = "form-horizontal", @role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="hero">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group fieldset-row">
            <div class="filterBox">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Processing No :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @Html.EditorFor(model => model.ProcessingR_No, new { htmlAttributes = new { @class = "form-control", @placeholder = "Processing no", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.ProcessingR_No, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Document No :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @Html.EditorFor(model => model.Doc_No, new { htmlAttributes = new { @class = "form-control", @placeholder = "Document no", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Doc_No, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Document Date :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @{ Html.EnableClientValidation(false); }
                                    @Html.EditorFor(model => model.Doc_Date, new { htmlAttributes = new { @class = "form-control", @placeholder = "Document Date", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Doc_Date)
                                    @{ Html.EnableClientValidation(true); }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Crop :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @Html.EditorFor(model => model.Crop, "", new { htmlAttributes = new { @class = "form-control", @placeholder = "Crop", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Crop, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Type :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control", @placeholder = "Type", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Season :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.Season, new { htmlAttributes = new { @class = "form-control", @placeholder = "Season", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Season, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Packed Grade :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @Html.EditorFor(model => model.Packed_Grade, new { htmlAttributes = new { @class = "form-control", @placeholder = "Packed Grade", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Packed_Grade, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Weight/Case :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control", @placeholder = "Weight", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Packed Weight :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.Packed_Weight, new { htmlAttributes = new { @class = "form-control", @placeholder = "Packed Weight", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Packed_Weight, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Redry Charge :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @Html.EditorFor(model => model.Redry_Charge, new { htmlAttributes = new { @class = "form-control", @placeholder = "Redry Charge", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Redry_Charge, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Packing Material :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.Pack_Mat, new { htmlAttributes = new { @class = "form-control", @placeholder = "Packing Material", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Pack_Mat, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Transportation :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.Transportation, new { htmlAttributes = new { @class = "form-control", @placeholder = "Transportation", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Transportation, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Total Amount :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @Html.EditorFor(model => model.Total_Amt, new { htmlAttributes = new { @class = "form-control", @placeholder = "Total Amount", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Total_Amt, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Total Weight :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.Total_Weight, new { htmlAttributes = new { @class = "form-control", @placeholder = "Total Weight", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Total_Weight, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Average Price :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.Average_Price, new { htmlAttributes = new { @class = "form-control", @placeholder = "Average Price", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Average_Price, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <hr>
                    <div class="form-row">
                        @if (string.IsNullOrEmpty(Model.Doc_No))
                        {
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="width:15%; margin-left:35%; margin-right:30%;">
                                <button type="submit" id="btn-add-processReady" class="btn btn-primary btn-bold btn-block"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="width:15%; margin-left:35%; margin-right:30%;">
                                <button type="button" id="btn-delete-processReady" class="btn btn-danger btn-bold btn-block"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
        <div>
            <table id="processR-table" data-url="@Url.Action("JsonProcessingReadyDetails", "ProcessReady")" class="table table-striped"
                   data-pagination="true"
                   data-side-pagination="server"
                   data-sort-name="bale_no"
                   data-sort-order="asc">
                <thead>
                    <tr>
                        <th data-field="bale_no" data-sortable="true" data-width="50">Bale no</th>
                        <th data-field="green_grade" data-sortable="true" data-width="150">Green Grade</th>
                        <th data-field="packed_grade" data-sortable="true" data-width="150">Packed Grade</th>
                        <th data-field="weight" data-sortable="true" data-width="100">Weight</th>
                        <th data-field="unit_price" data-sortable="true" data-width="100">Unit Price</th>
                        <th data-field="amount" data-sortable="true" data-width="100">Amount</th>
                        <th data-field="gep" data-sortable="true" data-width="100">GEP</th>
                        <th data-field="gep_per" data-sortable="true" data-width="100">GEP%</th>
                        <th data-field="total_unit" data-sortable="true" data-width="100">Total Unit</th>
                        <th data-field="flag" data-sortable="true" data-width="100">Flag</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </div>
                                        }
@section Styles {
    @Styles.Render("~/Content/views/receiving")
    @Styles.Render("~/Content/bootstrap-table")
}
@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-table/bootstrap-table.js")"></script>
    @Scripts.Render("~/bundles/scripts/processReadyD")
}

