﻿@using System.Web.Optimization
@using PSWebApp.Models
@using PSWebApp.Model
@{
    ViewBag.title = "Export Value Main";
    Layout = "~/Views/Shared/_PrototypeLayout.cshtml";
    String currentAction = ViewContext.RouteData.Values["action"].ToString();
    String currentController = ViewContext.RouteData.Values["controller"].ToString();
    UserInfo currentUser = (UserInfo)ViewBag.CurrentUser;
}
@model List<PackedGradeCustomerInfo>
@section HeaderLeft {
    @Html.Partial("_NavigationPartial", new NavigationModel() { Title = "Export Value", Instruction = "", Url = Url.Action("Index", "Home") })
}
<div class="hero">
    <div class="form-group fieldset-row">
        <div class="filterBox">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                <div class="form-row">
                    <label class="col-lg-1 col-md-1 col-sm-2 control-label">Crop :</label>
                    <div class="col-lg-11 col-md-11 col-sm-10">
                        <div class="form-group row">
                            <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                <input type="text" class="form-control" id="txt-crop" placeholder="Crop" onkeypress="return FindExport(event)" />
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12 col-sm-offset-0">
                                <div class="dropdown">
                                    <button class="btn btn-dropdown dropdown-toggle btn-default btn-primary" type="button" id="dropdown-type" data-toggle="dropdown">
                                        <strong>Packed Grade</strong>
                                    </button>
                                    @*<a class="btn btn-primary dropdown-toggle btn-dropdown btn-default" data-toggle="dropdown" href="#">
                                        Packed Grade
                                        <span data-action="packed"></span>
                                    </a>*@
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-type">
                                        <li role="presentation"><a role="menu" tabindex="-1" href="#" data-action="packed">Packed Grade</a></li>
                                        <li role="presentation"><a role="menu" tabindex="-1" href="#" data-action="class">Classified Grade</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                <div class="form-row">
                    <label class="col-lg-1 col-md-1 col-sm-2 control-label">Packed Grade :</label>
                    <div class="col-lg-11 col-md-11 col-sm-10">
                        <div class="form-group row">
                            <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                <input type="text" class="form-control" id="txtpacked" oninput="this.value = this.value.toUpperCase()" placeholder="Code" />
                            </div>
                            <label class="control-label col-lg-1 col-md-1 col-sm-1">Customer Reserve :</label>
                            <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                <input type="text" class="form-control" id="txtcustomer" placeholder="Customer" />
                            </div>
                            <label class="control-label col-lg-1 col-md-1 col-sm-1">Packed Grade Reserve :</label>
                            <div class="ccol-lg-2 col-md-2 col-sm-2 validation-cell">
                                <input type="text" class="form-control" id="txtcustomerPacked" placeholder="Packed Grade" />
                            </div>
                            <label class="control-label col-lg-1 col-md-1 col-sm-1">Export Value :</label>
                            <div class="ccol-lg-2 col-md-2 col-sm-2 validation-cell">
                                <input type="number" step="0.01" class="form-control" id="txtexport" placeholder="Value" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                <hr />
                <div class="form-row">
                    <div class="col-lg-offset-3 col-md-2 col-sm-4 col-xs-12 col-sm-offset-0">
                        @using (Html.BeginForm("PackedGrade", "ExportValue", FormMethod.Get, new { @id = "frm-packed-details", @role = "form" }))
                        {
                            <input type="hidden" id="crop" name="Crop">
                            <button type="submit" id="btn-input-export" class="btn btn-new form-control col-xs-12 disabled"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Set up Exports</button>
                        } 

                        @*<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#redryC-modal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Add New</button>*@
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12 col-sm-offset-0">
                        <button type="button" id="btn-delete-export" class="btn btn-danger btn-bold btn-block disabled"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table id="export-table">
        <thead>
            <tr>
                <th data-field="crop" data-sortable="true" data-width="50">Crop</th>
                <th data-field="packed_grade" data-sortable="true" data-width="100">Packed Grade</th>
                <th data-field="customer" data-sortable="true" data-width="50">Customer Reserve</th>
                <th data-field="customer_grade" data-sortable="true" data-width="100">Packed Grade Reserve</th>
                <th data-field="export_value" data-sortable="true" data-width="100">Export Value</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <table id="classified-table">
        <thead>
            <tr>
                <th data-field="crop" data-sortable="true" data-width="50">Crop</th>
                <th data-field="classified" data-sortable="true" data-width="100">Classified Grade</th>
                <th data-field="export_value" data-sortable="true" data-width="100">Export Value</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script>
    var urlpacked = '@Url.Action("JsonPackedGrade", "ExportValue")';
    var urlclassify = '@Url.Action("JsonClassifiedGrade", "ExportValue")';
</script>

@section Styles {
    @Styles.Render("~/Content/views/setup")
    @Styles.Render("~/Content/bootstrap-table")
}
@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-table/bootstrap-table.js")"></script>
    @Scripts.Render("~/bundles/scripts/export")
}
