﻿pre
{
    tab-size: 8;
}

@media screen and (max-width: 964px)
{
    .side-collapse-container
    {
        width: 100%;
        /*position: relative;*/
        left: 0;
        transition: left .4s;
    }

        .side-collapse-container.left.out
        {
            left: 200px;
        }

        .side-collapse-container.right.out
        {
            left: -200px;
        }

    .navbar-fixed-bottom
    {
        left: 0;
        transition: left .4s;
    }

        .navbar-fixed-bottom.left.out
        {
            left: 200px;
        }

        .navbar-fixed-bottom.right.out
        {
            left: -200px;
        }

    .side-collapse
    {
        top: 50px;
        bottom: 0;
        width: 200px;
        position: fixed;
        overflow-y: auto;
        transition: width .4s;
    }
    .side-collapse .navbar-nav
    {
        width: 100%;
    }
        .side-collapse.left
        {
            left: 0;
            -webkit-box-shadow: inset -10px 0px 20px -8px rgba(0,0,0,1);
            -moz-box-shadow: inset -10px 0px 20px -8px rgba(0,0,0,1);
            box-shadow: inset -10px 0px 20px -8px rgba(0,0,0,1);
        }

        .side-collapse.right
        {
            right: 0;
            -webkit-box-shadow: inset 10px 0px 20px -8px rgba(0,0,0,1);
            -moz-box-shadow: inset 10px 0px 20px -8px rgba(0,0,0,1);
            box-shadow: inset 10px 0px 20px -8px rgba(0,0,0,1);
        }

        .side-collapse.in
        {
            width: 0;
        }
}
@media screen and (max-width: 964px)
{
    .side-collapse .navbar-nav
    {
        width: 200px;
    }
}