﻿@using System.Web.Optimization
@using PSWebApp.Models
@{
    ViewBag.title = "Shipping Production Main";
    Layout = "~/Views/Shared/_PrototypeLayout.cshtml";
    String currentAction = ViewContext.RouteData.Values["action"].ToString();
    String currentController = ViewContext.RouteData.Values["controller"].ToString();
}
@section HeaderLeft {
    @Html.Partial("_NavigationPartial", new NavigationModel() { Title = "Shipping Product", Instruction = "Show all Shipping Production info", Url = Url.Action("Index", "Home") })
}
<div class="hero">
    <div class="form-group fieldset-row">
        <div class="filterBox">
            <div class="form-row">
                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
                    <label class="control-label col-lg-4 col-md-4 col-sm-4">Crop :</label>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <select id="dropdown-crop" class="form-control">
                            <option selected disabled>Select Crop</option>
                            @foreach (var c in (List<CropReceiving>)ViewBag.Crop)
                            {
                                <option id="crop" name="Crop" value="@c.N_CROP">@c.N_CROP</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="text-right col-md-2 col-sm-4 col-xs-12 col-sm-offset-0">
                    @using (Html.BeginForm("EditShippingProduct", "ShippingProduction", FormMethod.Get, new { @id = "frm-shipping-product-details", @role = "form" }))
                    {
                        <input type="hidden" id="shipping_no" name="Shipping_no">
                        <button type="submit" id="btn-manage-shipping" class="btn btn-primary form-control col-xs-12 disabled"><i class="fa fa-book"></i> Show Details</button>
                    }
                </div>
                <div class="text-right col-md-2 col-sm-4 col-xs-12 col-sm-offset-0">
                    <input type="hidden" id="doc_no" name="Docno" value="0" />
                    <button type="submit" id="btn-new-shipping" class="btn btn-new form-control col-xs-12 disabled"><i class="fa fa-pencil-square-o"></i> Show all New Shipping</button>
                </div>
            </div>
        </div>
    </div>
    <table id="shippingP-table" class="table table-striped"
           data-pagination="true"
           data-side-pagination="server"
           data-sort-name="doc_no"
           data-sort-order="asc">
        <thead>
            <tr>
                <th data-field="crop" data-sortable="true" data-width="80">Crop</th>
                <th data-field="shipping_no" data-sortable="true" data-width="100">Shipping No</th>
                <th data-field="doc_no" data-sortable="true" data-width="100">Document No</th>
                <th data-field="doc_date" data-sortable="true" data-width="100">Document Date</th>
                <th data-field="type" data-sortable="true" data-width="50">Type</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Styles {
    @Styles.Render("~/Content/views/receiving")
    @Styles.Render("~/Content/bootstrap-table")
}
@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-table/bootstrap-table.js")"></script>
    @Scripts.Render("~/bundles/scripts/shippingP")
}
