﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
      
    @*<ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>*@
        <ul class="topmenu hidden-sm hidden-xs"> 
            <i class="fa fa-user"></i> Hello @User.Identity.GetUserName()!!!
            <li><a href="@Url.Action("Setting", "Account")"><i class="fa fa-cog"></i> Settings</a></li>
            <li><a href="@Url.Action("LogOff", "Account")"><i class="fa fa-sign-out"></i> Sign out</a></li>
        </ul>
        <div class="dropdown hidden-md hidden-lg">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="glyphicon glyphicon-user"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">               
                <li><a href="@Url.Action("Setting", "Account")"><i class="fa fa-cog"></i> Settings</a></li>
                <li><a href="@Url.Action("LogOff", "Account")"><i class="fa fa-sign-out"></i> Sign out</a></li>
            </ul>
        </div>
    }
}
else
{
    @*<ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>*@
}
