﻿@model PSWebApp.Models.NavigationModel
@if (Model.Url != null)
{
    <a href="@Model.Url"><i style="float: left" class="fa fa-chevron-left"></i></a>
}
<img src="@Url.Content("~/Content/images/navigation-logo.png")" class="img-responsive" style="float: left; height: 32px; margin: 18px 0px 0px 20px;" />
<div class="header-left">
    <h2>@Model.Title</h2>
    <div class="instructionText">@Model.Instruction</div>
</div>
