﻿@using System.Web.Optimization
@using PSWebApp.Models
@{
    string currentAction = ViewContext.RouteData.Values["action"].ToString();
    string currentController = ViewContext.RouteData.Values["controller"].ToString();
    UserInfo currentUser = (UserInfo)ViewBag.CurrentUser;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Siam Tobacco Pricing</title>
    @Styles.Render("~/Content/css/prototype-layout")
    @Styles.Render("~/Content/css/bootstrap")
    <link rel="stylesheet" href="@Url.Content("~/Content/jquery.mCustomScrollbar.css")" type="text/css" />
    @RenderSection("Styles", false)
</head>
<body>
    <section class="content-wrapper main-content clear-fix">
        <div class="header-bar">
            <div>
                @RenderSection("HeaderLeft", false)
            </div>
            <div>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
        @Html.AntiForgeryToken()
        <input type="hidden" id="current-page" value="@String.Concat(currentController, "/", currentAction)" />
        @RenderBody()
    </section>
    @*<div id="footer" class="side-collapse-container" @(Html.Raw(currentAction == "Index" && currentController == "Home" ? "style='display: none;'" : ""))>
        <nav class="navbar navbar-fixed-bottom hidden-xs" role="navigation">
            <div class="row banner">
               <div class="col-lg-6 col-md-4 col-sm-6 left">
                    <span>Copyright © @(DateTime.Now.ToString("yyyy")) - <a href="http://www.handshakes.com.sg/" target="_blank">Handshakes</a> and <a href="https://www.ctoscredit.com.my/" target="_blank">CTOS Data Systems</a>&nbsp;All rights reserved.</span>
                </div>
                <div class="col-lg-6 col-md-8 col-sm-6 right">
                    <a class="gray underline bold" href="@Url.Action("Terms", "Home")" title="Terms of Use">Terms of Use</a>
                    <a href="@Url.Action("Index", "Home")" title="Handshakes" style="cursor: pointer;" class="hidden-xs">
                        <span class="glyphicon glyphicon-th-large"></span>
                        Handshakes
                    </a>
                    <a class="bold hidden-xs" href="https://www.ctoscredit.com.my/business/ctosconnex/" target="_blank" title="CTOS">
                        <span class="glyphicon glyphicon-th-large"></span>
                        CTOS
                    </a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button class="btn btn-primary btn-report-error btn-sm" id="btn-report-error" data-toggle="modal" data-target="#report-modal">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Help/Report Error
                        </button>
                    }
                </div>
            </div>
        </nav>
    </div>*@
    @*@Html.Partial("_ModalPartial")*@
</body>
</html>
@Scripts.Render("~/bundles/scripts/layout")
@RenderSection("Scripts", false)