﻿.header-bar {
    position: fixed;
}

* {
    border-radius:13px;
}

#main-menu-container {
    padding-top: 50px;
}

.prototype-footer {
    display: none;
}

.header-icon-contain {
    display: inline-block;
    font-size: 25px;
    margin: 0px 30px 0px 20px;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    color: white;
    text-align: center;
    display: none;
}

    .header-icon-contain.header-icon {
        background: #FFBD11;
        padding-top: 3px;
        display: none;
    }

.green {
    background: #14A89D !important;
}

.light-green {
    background: #8CC63D !important;
}

.brown {
    background: #DB8435 !important;
}

.fa-user {
    color: #FFBD11;
}

.navbar-fixed-bottom {
    position: relative!important;
}

.search-source > li > a {
    color: #aaa;
    text-decoration: none;
}

    .search-source > li > a:hover, .search-source > li.active > a {
        color: white;
    }

#centerBox {
    padding: 10px 5px 20px 5px;
    z-index: 15;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(0,123,123,0.9);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: table;
}

#home-main-box {
    background-color: rgba(255,255,255,0.8);
    width: 100%;
    padding: 0px 20px;
    bottom: 0px;
    top: 70px;
    overflow: auto;
}

.navbar-select-source {
    background-color: transparent;
    margin: 0px 15px;
    max-width: 1000px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .navbar-select-source {
        width: 680px;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-select-source {
        background-color: #0098a5;
    }

    .navbar-brand {
        font-size: 16px;
        line-height: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: calc(100% - 60px);
    }

    .catagory-box {
        padding: 10px 25px;
        margin-left: 0px;
    }

    #centerBox {
        width: 95%;
        top: 175px;
    }

    #home-main-box {
        height: 100% !important;
    }

    #search-connection-source {
        margin-left: 0px;
        margin-right: 0px;
    }

    .header-bar {
        position: absolute;
    }
   
}


html {
  font-family: 'average', serif;
}

/*Old style*/
#mainnav {
    position: absolute;
    font-family: 'Montserrat Alternates', sans-serif;
    z-index: 1;
}

    #mainnav > li {
        margin: 85px 0;
        left: -550px;
        position: relative;
        display: none;
      }

    #mainnav li a{
        color: #fff;
        text-shadow: 2px 2px 0 #000;
        text-decoration: none;
        font-size: 2.5em;
    }

    #mainnav ul {
        list-style:none;
	    position:relative;
	    float:left;
	    margin:0;
	    padding:0
    }

    #mainnav ul li {
        position:relative;
	    float:left;
	    margin:0;
	    padding:0
    }


.hamb {
    position: absolute;
    top: 0px;
    left: 20px;
    font-size: 2.5em;
    z-index: 1;
    color: #fff;
    text-decoration: none;
}

 .hamb > a {
color: #fff;
text-decoration: none;
}

/*html, body, .hero {
  height: 100%;
}
 
.hero {
  width: 100%;
  min-height: 600px;
  background-image: linear-gradient(to bottom, #d59254, #cf7693);
}*/

h1 {
  font-size: 5em;
  text-align: center;
  font-weight: 700;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #65663a;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}  

#bubble {
  width: 100%;
  height: 100%;
  opacity: .9;
  position: fixed;
  display: none;
  z-index: 1;
  background: rgba(0, 0, 0, .5);
}

ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/*old style*/
#primary_nav_wrap
{
    top:20px;
	position: absolute;
    font-family: 'Montserrat Alternates', sans-serif;
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color:rgba(0, 0, 0, .5);
	text-decoration:none;
	font-weight:700;
	font-size:14px;
	line-height:32px;
	padding:0 15px;
    font-family: 'Roboto', sans-serif;
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#FFBD11
}

#primary_nav_wrap ul li:hover
{
	background:linear-gradient(to top, #f8e891, white)
    /*background:linear-gradient(to bottom, #b9cbd2, #aaa)*/
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}

 
.hero {
  width: 100%;
  min-height: 600px;
  /*background-image: linear-gradient(to bottom, #d59254, #f3d492);*/
}
