﻿body {
    height: auto;
    background-image: linear-gradient(to bottom, #dca74a, #efecea); 
}

.logon-container {
    width: 400px;
    overflow: auto;
    padding: 10px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 30%;
    -webkit-transform: translate(-50%, -30%);
    transform: translate(-50%, -30%);
}

    .logon-container h3 {
        color: rgba(50, 50, 50, 0.75);
        margin-bottom: 0px;
        padding-left: 20px;
        margin-top: 5px;
        font-size: 18px;
    }

    .logon-container a.link {
        color: #fff;
        text-decoration: none;
        padding: 0px 20px;
        font-size: 12px;
    }

        .logon-container a.link:hover {
            color: #37ADF7;
        }

.form-control.signin {
    color: #666;
    font-size: 16px;
    width: 90%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    margin: 10px 15px;
    padding: 4px 12px;
    float: left;
}

    .form-control.signin:focus {
        outline: 0;
    }

.input-validation-error {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.form-group {
    margin-bottom: 5px;
}

.btn {
    border-radius: 20px;
}



/* small device screen */
@media all and (max-width: 767px) {
    .logon-container {
        width: 100%;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        height: 100%;
        left: 0;
        top: 0;
        -webkit-transform: none;
        transform: none;
    }
}
