﻿.control-label {
    margin-top: 5px;
}

.btn-group-map {
    background-color: rgba(19,79,133,0.9);
    margin-left: 0px;
    padding: 10px 30px;
}

.btn-standard {
    background-color: rgba(20,20,20,1);
}

    .btn-standard.disabled {
        background-color: rgba(50,50,50,1);
        opacity: 1;
        color: #fff;
    }

    .btn-standard:hover {
        background-color: rgba(60,60,60,0.9);
        cursor: pointer;
        color: #fff;
        text-decoration: none;
    }
