﻿.hero {
  width: 100%;
  min-height: 600px;
  /*background-image: linear-gradient(to bottom, #d59254, #cf7693);*/
}

.form-group {
    margin-bottom: 3px;
    padding-top: 2px;
}

.btn-sm, .btn-group-sm > .btn {
  font-size: 14px;
}

.btn {
    border-radius: 20px;
}

.btn-new {
    color:#fff;
    background-color: mediumseagreen;
}

.btn-type {
    color:#fff;
    background-color:darkgrey;
    border-radius: 5px;
}



