﻿@using System.Web.Optimization
@using PSWebApp.Models
@{
    ViewBag.title = "Packing Materail Cost Main";
    Layout = "~/Views/Shared/_PrototypeLayout.cshtml";
    String currentAction = ViewContext.RouteData.Values["action"].ToString();
    String currentController = ViewContext.RouteData.Values["controller"].ToString();
}
@section HeaderLeft {
    @Html.Partial("_NavigationPartial", new NavigationModel() { Title = "Packing Material Cost", Instruction = "Packing Materail Cost", Url = Url.Action("Index", "Home") })
}
<div class="hero">
    <div class="form-group fieldset-row">
        <div class="filterBox">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                <div class="form-row">
                    <label class="col-lg-2 col-md-2 col-sm-2 control-label">Crop :</label>
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <div class="form-group row">
                            <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                <input type="text" class="form-control" id="txt-crop" placeholder="Crop" onkeypress="return FindPackingMat(event)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                <div class="form-row">
                    <label class="col-lg-2 col-md-2 col-sm-2 control-label">Packing Material :</label>
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <div class="form-group row">
                            <div class="col-lg-4 col-md-4 col-sm-4 validation-cell">
                                <input type="text" class="form-control" id="txtPacking" placeholder="Packing Material" />
                            </div>
                            <label class="control-label col-lg-1 col-md-1 col-sm-2">Cost :</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                <input type="number" step="0.01" class="form-control" id="txtCost" placeholder="Cost" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                <hr />
                <div class="form-row">
                    <div class="col-lg-offset-4 col-md-2 col-sm-4 col-xs-12 col-sm-offset-0">
                        <button type="button" id="btn-submit-packingmat" class="btn btn-new form-control col-xs-12 disabled"><i class="fa fa-pencil-square-o"></i>&nbsp;Submit</button>
                        @*<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#redryC-modal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Add New</button>*@
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12 col-sm-offset-0">
                        <button type="button" id="btn-delete-packingmat" class="btn btn-danger btn-bold btn-block disabled"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table id="packing-table" class="table table-striped"
           data-pagination="true"
           data-side-pagination="server"
           data-sort-name="code"
           data-sort-order="asc">
        <thead>
            <tr>
                <th data-field="crop" data-sortable="true" data-width="50">Crop</th>
                <th data-field="packing_mat" data-sortable="true" data-width="200">Packing Material</th>
                <th data-field="price" data-sortable="true" data-width="100">Price</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

</div>

@section Styles {
    @Styles.Render("~/Content/views/setup")
    @Styles.Render("~/Content/bootstrap-table")
}
@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-table/bootstrap-table.js")"></script>
    @Scripts.Render("~/bundles/scripts/packing")
}