﻿@font-face
{
    font-family: 'DiavloMedium-Regular';
    src: url('../fonts/DiavloMedium-Regular.ttf');
    src: url('../fonts/DiavloMedium-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body
{
    margin: 50px auto;
}

code
{
    white-space: normal!important;
}

.layout-header
{
    font-family: 'DiavloMedium-Regular';
    -webkit-font-smoothing: antialiased;
}

    .layout-header h3
    {
        margin-top: 3px;
        margin-bottom: 0px;
    }

.field-validation-error
{
    padding: 2px 4px;
    font-size: 80%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.has-error
{
    background-color: #f2dede;
}

.navbar-inverse h3
{
    color: #ffffff;
    text-align: center;
}

.navbar-fixed-top
{
    margin-bottom: 0px;
}

.nav-title-row
{
    background-color: #000;
    padding: 8px;
}

.nav-menu-row
{
    background-color: rgba(0,0,0,0.8);
}

.header-title
{
    margin: 8px 8px 0px 8px;
}

    .header-title .col-md-4:first-child
    {
        text-align: left;
    }

    .header-title .col-md-4:last-child
    {
        text-align: right;
    }

    .header-title h3
    {
        margin-top: 4px;
    }

    .header-title h4
    {
        color: #bfbebe;
        margin-top: 8px;
    }

.handshake-header-logo
{
    margin: 0px auto 0px auto;
}

.header-nav
{
    display: none;
}

.btn-bold
{
    font-weight: bold;
}

.btn-backward
{
    max-width: 80px;
}

    .btn-backward .glyphicon-chevron-left
    {
        margin-left: -5px;
    }

.page-header
{
    margin: 10px 0 10px!important;
}

    .page-header h3
    {
        margin-top: 0px!important;
        margin-bottom: 0px!important;
    }

.jumbotron
{
    margin-top: 20px;
    padding: 20px 10px 35px 10px!important;
    border-radius: 0px!important;
    background-color: #888888!important;
    color: #ffffff;
}

.jumbotron-small
{
    margin-top: 10px;
    padding: 10px 10px 15px 10px!important;
    border-radius: 0px!important;
    background-color: #888888!important;
    color: #ffffff;
}

.complete
{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px!important;
    padding-right: 0px!important;
}

#footer
{
    color: #ffffff;
    font-size: 12px;
    height: 0px;
    position: relative;
}

    #footer .container
    {
        margin: auto;
        width: 100%;
        background-color: #000000;
        padding-left: 0px;
        padding-right: 0px;
    }

    #footer span
    {
        color: #868686;
    }

    #footer a
    {
        color: #7C90B1;
        text-decoration: none;
        white-space: nowrap;
    }

    #footer .banner
    {
        margin: 16px 0px 17px 0px;
    }

    #footer .gray
    {
        color: #b9b3b0;
    }

    #footer .bold
    {
        font-weight: bold;
    }

    #footer .underline
    {
        text-decoration: underline;
    }

    #footer .link a
    {
        margin: 0px 5px 0px 5px;
    }

    #footer .left
    {
        margin: 6px 0px;
    }

    #footer .right
    {
        text-align: right;
    }

    #footer .btn-warning
    {
        font-weight: normal;
    }

    #footer .btn-report-error
    {
        font-weight: bold;
    }
    #footer .btn-report-error span
    {
        color: #fff;
    }

.modal-footer
{
    padding: 10px!important;
    margin-top: 0px!important;
}

.navbar-inverse .navbar-nav > li > a
{
    color: #fff;
}

    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a.nav-active
    {
        color: #fcae23;
    }

.layout-nav
{
    /*width: 900px;*/
}

.layout-nav-small
{
    width: 762px;
}

.btn-nav-account
{
    color: #fff;
    padding: 6px 14px;
}

.btn-nav-menu
{
    margin-left: 0px;
}

.side-collapse
{
    white-space: nowrap;
}

.navbar-fixed-bottom > .container
{
    padding-top: 0px!important;
}

.small-device-title
{
    margin-top: 13px!important;
}

.navbar-header.right
{
    float: right;
}

.navbar-fixed-bottom
{
    width: 100%;
    background: none;
}

.handshakes-logo
{
    font-family: 'DiavloMedium-Regular';
    -webkit-font-smoothing: antialiased;
    margin-top: 0px;
    font-weight: bold;
    font-size: 47px;
}

    .handshakes-logo > span:first-child
    {
        color: #DB402E;
    }

    .handshakes-logo > span:nth-child(2)
    {
        color: #F06F39;
    }

    .handshakes-logo > span:nth-child(3)
    {
        color: #FAC733;
    }

.nav-menu-row .navbar-toggle
{
    margin-right: 0px;
}

a.disable
{
    color: #646464!important;
}

.navbar-tabs {
    margin:  0;
    padding: 0;
    list-style: none;
    display: table;
    width: 100%;
}

.navbar-tabs > li
{
    float: none;
    display: table-cell;
}

.navbar-tabs > li > a
{
    text-align: center;
}

.click-able
{
	cursor: pointer;
}
.coverage-table {
  font-size: 14px;
}
.coverage-table tr > td {
  padding: 5px!important;
}
@media all and (max-width: 990px)
{
    #footer
    {
        text-align: center;
    }

        #footer .right
        {
            text-align: center;
        }
}

@media all and (max-width: 964px)
{
    .navbar-header h3
    {
        padding-left: 60px;
        margin-top: 12px;
    }

    .navbar-nav > li
    {
        float: none;
    }

    .nav-menu-row, .side-collapse, .head-navbar-collapse
    {
        background-color: #333;
        border-color: #080808;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .nav-menu-row
    {
        margin:0px;
    }

    .responsive-container
    {
        padding-top: 20px!important;
    }

    .navbar-inverse .navbar-nav > li > a.nav-active
    {
        background-color: #222;
    }

    .navbar-collapse
    {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    }

    .navbar-tabs
    {
        display: block;
    }

    .navbar-tabs > li
    {
        float: none;
        display: block;
    }

    .navbar-tabs > li > a
    {
        text-align: left;
    }
}

@media all and (max-width: 518px)
{
    body > .container
    {
        padding-bottom: 42px;
    }
}

@media all and (max-width: 471px)
{
    #footer
    {
        text-align: center;
    }
}

@media all and (max-width: 320px)
{
    body
    {
        margin-bottom: 68px;
    }

        body > .container
        {
            padding-bottom: 55px;
        }

    #footer
    {
        height: 68px !important;
    }
}

