﻿@using System.Web.Optimization
@using PSWebApp.Models
@{
    ViewBag.title = "Create Receiving";
    Layout = "~/Views/Shared/_PrototypeLayout.cshtml";
    String currentAction = ViewContext.RouteData.Values["action"].ToString();
    String currentController = ViewContext.RouteData.Values["controller"].ToString();
    UserInfo currentUser = (UserInfo)ViewBag.CurrentUser;

    //string RecordType = "";
    //if (Model.RecordType == "B")
    //{ RecordType = "Delivery and Purchase"; }
    //else
    //{ RecordType = "Delivery Only"; }
}
@model PSWebApp.Models.ReceivingModels
@section HeaderLeft {
    @Html.Partial("_NavigationPartial", new NavigationModel() { Title = "Add Receiving", Instruction = "Create new Receiving", Url = Url.Action("Index", "GreenLeaf") })
}
@using (Html.BeginForm("AddReceiving", "GreenLeaf", FormMethod.Post, new { @id = "frm-receiving-create", @class = "form -horizontal", @role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="hero">
        <div class="form-group fieldset-row">
            <div class="filterBox">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Receiving No. :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @{ var selected_receiving = ((List<ReceivingListNotDone>)ViewBag.ReceivingNotDone).Find(r => r.DocNo == Int32.Parse(@Model.ReceivingNo));}
                                    <div class="dropdown">
                                        @if (@Model.ReceivingNo == "0")
                                        {
                                            <button class="btn btn-sm dropdown-toggle btn-block btn-default" type="button" id="dropdown-recno" data-toggle="dropdown">
                                                @{
                                                    if (selected_receiving == null)
                                                    {
                                                        @("Select Receiving");
                                                    }
                                                    else
                                                    {
                                                        @selected_receiving.DocNo
                                                    }
                                                }
                                            </button>
                                            <ul class="dropdown-menu dropdown-recno" role="menu" aria-labelledby="dropdown-recno">
                                                @foreach (var c in (List<ReceivingListNotDone>)ViewBag.ReceivingNotDone)
                                                {
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" crop="@c.Crop" value="@c.DocNo">@c.DocNo</a></li>
                                                }
                                            </ul>
                                        }
                                        else
                                        {
                                            <button class="btn btn-sm dropdown-toggle btn-block btn-default" type="button" id="dropdown-recno" data-toggle="dropdown">
                                                @selected_receiving.DocNo
                                            </button>
                                        }
                                    </div>
                                    <input type="hidden" name="recDocNo" id="receivingNo" crop="@Model.Crop" value="@Model.ReceivingNo" />
                                </div>                          
                            </div>
                        </div>
                    </div>
                </div>
                @*@Html.Partial("_ReceivingPartial", Model)*@
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Receiving No. :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @Html.EditorFor(model => model.ReceivingNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Receiving no" } })
                                    @Html.ValidationMessageFor(model => model.ReceivingNo, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Document No. :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.DocumentNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Document no" } })
                                    @Html.ValidationMessageFor(model => model.DocumentNo, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Buying Doc No. :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.BuyingDocNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Buying Document no" } } )
                                    @Html.ValidationMessageFor(model => model.BuyingDocNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group fieldset-row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                        <div class="form-row">
                            <label class="col-lg-2 col-md-2 col-sm-2 control-label">Document Date :</label>
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                <div class="form-group row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 validation-cell" data-date-format="dd/mm/yyyy">
                                        @{ Html.EnableClientValidation(false); }
                                        @Html.EditorFor(model => model.DocumentDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Document Date" } })
                                        @Html.ValidationMessageFor(model => model.DocumentDate, "", new { @class = "text-danger" })
                                        @{ Html.EnableClientValidation(true); }
                                    </div>
                                    <label class="control-label col-lg-2 col-md-2 col-sm-2">Company Code :</label>
                                    <div class="col-lg-3 col-md-3 col-sm-3 validation-cell" readonly ="readonly">
                                        @Html.EditorFor(model => model.CompanyCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Company Code" } })
                                        @Html.ValidationMessageFor(model => model.CompanyCode, "", new { @class = "text-danger" })
                                    </div>
                                    <label class="control-label col-lg-2 col-md-2 col-sm-2">Crop :</label>
                                    <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                        @Html.EditorFor(model => model.Crop, new { htmlAttributes = new { @class = "form-control", @placeholder = "Crop" } })
                                        @Html.ValidationMessageFor(model => model.Crop, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Type :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control", @placeholder = "Type" } })
                                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Season :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.Season, new { htmlAttributes = new { @class = "form-control", @placeholder = "Season" } })
                                    @Html.ValidationMessageFor(model => model.Season, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Curer Code :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.CurerCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Curer Code" } })
                                    @Html.ValidationMessageFor(model => model.CurerCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Curer Name :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @Html.EditorFor(model => model.CurerName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Curer Name" } })
                                    @Html.ValidationMessageFor(model => model.CurerName, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Area :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.Area, new { htmlAttributes = new { @class = "form-control", @placeholder = "Area" } })
                                    @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Green Price Code :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.GreenPriceCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Green Price Code" } })
                                    @Html.ValidationMessageFor(model => model.GreenPriceCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Total Amount :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Amount" } })
                                    @Html.ValidationMessageFor(model => model.TotalAmount, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Total Weight Buy :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.WeightBuy, new { htmlAttributes = new { @class = "form-control", @placeholder = "Weight Buy" } })
                                    @Html.ValidationMessageFor(model => model.WeightBuy, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Average Price Buy :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.AveragePriceBuy, new { htmlAttributes = new { @class = "form-control", @placeholder = "Average Price Buy" } })
                                    @Html.ValidationMessageFor(model => model.AveragePriceBuy, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Total Weight Rec :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @Html.EditorFor(model => model.WeightReceived, new { htmlAttributes = new { @class = "form-control", @placeholder = "Weight Received" } })
                                    @Html.ValidationMessageFor(model => model.WeightReceived, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Average Price Rec :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.AveragePriceRec, new { htmlAttributes = new { @class = "form-control", @placeholder = "Average Price Rec" } })
                                    @Html.ValidationMessageFor(model => model.AveragePriceRec, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Record Type :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.RecordType, new { htmlAttributes = new { @class = "form-control", @placeholder = "Record Type" } })
                                    @Html.ValidationMessageFor(model => model.RecordType, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-offset-4 col-md-offset-6 col-sm-offset-6 col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <hr>
                    <button type="submit" id="btn-add-receiving" class="btn btn-primary btn-bold btn-block"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                </div>
           </div>
       </div>
        <div>
            <table id="receiving-table" data-url="@Url.Action("JsonAddReceivingDetails", "GreenLeaf")" class="table table-striped"
                   data-pagination="true"
                   data-side-pagination="server"
                   data-sort-name="no"
                   data-sort-order="asc">
                <thead>
                    <tr>
                        <th data-field="bale_no" data-sortable="true" data-width="100">Bale no</th>
                        <th data-field="green_grade" data-sortable="true">Buying Grade</th>
                        <th data-field="classified_grade" data-sortable="true" class="hidden-md">Classified Grade</th>
                        <th data-field="buy_weight" data-sortable="true">Buy Weight</th>
                        <th data-field="weight" data-sortable="true">Rec Weight</th>
                        <th data-field="unit_price" data-sortable="true">Unit Price</th>
                        <th data-field="t_charge" data-sortable="true">Trans Charge</th>
                        <th data-field="total_unit_price" data-sortable="true">New Unit Price</th>
                        <th data-field="amount" data-sortable="true">Amount</th>
                        <th data-field="fcv_class" data-sortable="true" data-width="50">FCV</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
}
@section Styles {
    @Styles.Render("~/Content/views/receiving")
    @Styles.Render("~/Content/bootstrap-table")
}
@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-table/bootstrap-table.js")"></script>
    @Scripts.Render("~/bundles/scripts/receivingA")
}

