﻿@using System.Web.Optimization
@using PSWebApp.Models
@{
    ViewBag.title = "Process";
    Layout = "~/Views/Shared/_PrototypeLayout.cshtml";

    List<string> errorFields = new List<string>();
    foreach (var e in Html.ViewData.ModelState.Keys)
    {
        if(Html.ViewData.ModelState[e].Errors.Any())
        {
            errorFields.Add(e);
        }
    }
}
@*@section HeaderLeft{
    @Html.Partial("_NavigationPartial", new NavigationModel() { Title = "Process", Instruction = "Process for ...", Url = Url.Action("Index", "Home") })
}*@
<div class="container prototype-container">
    @*<div class="filterBox">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
                <label class="col-md-3 col-sm-2 control-label">Crop</label>
                <div class="col-lg-3 col-md-3 col-sm-3 @(errorFields.Contains("Status") ? "has-error" : "")">
                    <div class="dropdown">
                        <button class="btn btn-sm dropdown-toggle btn-block btn-status @btnStatusStyle" type="button" id="dropdown-status" data-toggle="dropdown">
                           @Model.Status
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-status">
                            <li role="presentation"><a role="menuitem" tabindex="-1">2018</a></li>
                            @if (Model.Status != USER_STATUS.PENDING)
                            {
                                <li role="presentation"><a role="menuitem" tabindex="-1">2017</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1">2016</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1">2015</a></li>
                            }
                        </ul>
                    </div>
                    <input type="hidden" name="stateBefore" value="@((int)Model.Status)" />
                    @Html.HiddenFor(m => m.Status, new { @id = "user-status" })
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
                <label class="col-md-2 col-sm-2 control-label">To</label>
                <div class="input-group date" id="to_date" data-date="@today.ToString("dd/MM/yyyy")">
                    <input id="input-to-date" class="form-control input-sm" type="text" readonly="readonly" value="@today.ToString("dd/MM/yyyy")">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    <input id="to-date" type="hidden" name="to_date" value="@today.ToString("dd/MM/yyyy")" />
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
                <label class="col-md-2 col-sm-2 control-label">To</label>
                <div class="input-group date" id="to_date" data-date="@today.ToString("dd/MM/yyyy")">
                    <input id="input-to-date" class="form-control input-sm" type="text" readonly="readonly" value="@today.ToString("dd/MM/yyyy")">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    <input id="to-date" type="hidden" name="to_date" value="@today.ToString("dd/MM/yyyy")" />
                </div>
            </div>
        </div>
    </div>*@
    <table id="process-table" class="table table-striped"
           data-pagination="true"
           data-sort-name="company">
        <thead>
            <tr>
                <th data-field="process_doc_no" data-sortable="true" data-width="200">PROCESS DOC NO</th>
                <th data-field="process_no" data-sortable="true" data-width="150">PROCESS NO</th>
                <th data-field="process_doc_date" data-sortable="true" data-width="150">PROCESS DOC DATE</th>
                <th data-field="crop" data-sortable="true" data-width="150" data-sorter="dateSorter">CROP</th>
                <th data-field="type" data-sortable="true">TYPE</th>
                <th data-field="season" data-sortable="true" style="text-align: right">SEASON</th>
                <th data-field="packed_grade" data-sortable="true" data-width="50">PACKED GRADE</th>
                <th data-field="pack_mat_code" data-sortable="true" data-width="150">PACK MAT CODE</th>
                <th data-field="pack_mat_charge" data-sortable="true" data-width="150">PACK MAT CHARGE</th>
                <th data-field="tran_charge_code" data-sortable="true" data-width="120">TRAN CHARGE CODE</th>
                <th data-field="tran_charge" data-sortable="true" data-sorter="dateSorter" data-width="120">TRAN CHARGE</th>
                <th data-field="redry_charge_code" data-sortable="true" data-sorter="dateSorter" data-width="120">REDRY CHARGE CODE</th>
                <th data-field="redry_charge" data-sortable="true" data-width="150">REDRY CHARGE</th>
                <th data-field="case_weight" data-sortable="true" data-width="150">CASE WEIGHT</th>
                <th data-field="packed_weight" data-sortable="true" data-width="120">PACKED WEIGHT</th>
                <th data-field="upd_by" data-sortable="true" data-sorter="dateSorter" data-width="120">Update By</th>
                <th data-field="upd_date" data-sortable="true" data-sorter="dateSorter" data-width="120">Update Date</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-table/bootstrap-table.js")"></script>
    @Scripts.Render("~/bundles/scripts/process")
}
@section Styles {
    @Styles.Render("/Content/bootstrap-table")
}


