﻿@using System.Web.Optimization
@{
    ViewBag.title = "Duplicate Data";
    Layout = "~/Views/Shared/_PrototypeLayout.cshtml";
}
<div class="container landing">
    <div class="jumbotron text-center" style="margin-top: 150px;">
        <h1>Duplicate Data</h1>
        <p>Cannot insert existed Export Value to Pricing system</p>
        @Html.ActionLink("Return to Export Value Page", "Index", "ExportValue", null, new { @class = "btn btn-primary" })
    </div>
</div>
@section Styles { @Styles.Render("~/Content/css/views/landing-success.css") }
