﻿@using System.Web.Optimization
@using PSWebApp.Models
@using PSWebApp.Model
@{
    ViewBag.title = "Export Value Main";
    Layout = "~/Views/Shared/_PrototypeLayout.cshtml";
    String currentAction = ViewContext.RouteData.Values["action"].ToString();
    String currentController = ViewContext.RouteData.Values["controller"].ToString();
    UserInfo currentUser = (UserInfo)ViewBag.CurrentUser;
}
@model List<PackedGradeCustomerInfo>
@section HeaderLeft {
    @Html.Partial("_NavigationPartial", new NavigationModel() { Title = "Export Value - Packed Grade", Instruction = "", Url = Url.Action("Index", "ExportValue") })
}
@using (Html.BeginForm("PackedGrade", "ExportValue", FormMethod.Post, new { @id = "frm-packed-details", @class = "form-horizontal", @role = "form" }))
{
    <div class="hero">
        <div class="form-group fieldset-row">
            <div class="filterBox">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-1 col-md-1 col-sm-2 control-label">Crop :</label>
                        <div class="col-lg-11 col-md-11 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    <input type="text" class="form-control" id="txt-crop" placeholder="Crop" value="@ViewBag.Crop" readonly/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <div class="form-group row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <label class="col-lg-5 col-md-5 col-sm-6 control-label">Packed Grade :</label>
                                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6">
                                    <select id="dropdown-packed" class="form-control">
                                        <option selected disabled>Select Packed Grade</option>
                                        @foreach (var p in (List<PackedInfo>)ViewBag.PackedGrade)
                                        {
                                            <option id="packed_grade" name="Packed_Grade" value="@p.PackedGrade">@p.PackedGrade</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <label class="col-lg-5 col-md-5 col-sm-6 control-label">Customer Reserve :</label>
                                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6">
                                    <select id="dropdown-customer" class="form-control">
                                        <option selected disabled>Select Customer</option>
                                        @foreach (var s in Model)
                                        {
                                            <option data-packed="@s.PackedGrade" value="@s.CustomerName">@s.CustomerName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <label class="col-lg-5 col-md-5 col-sm-6 control-label">Packed Grade Reserve :</label>
                                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6">
                                    <select id="dropdown-customer-packed" class="form-control">
                                        <option selected disabled>Select Packed Grade</option>
                                        @foreach (var s in Model)
                                        {
                                            <option data-packed="@s.PackedGrade" data-customer="@s.CustomerName" value="@s.CustomerGrade">@s.CustomerGrade</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <label class="col-lg-5 col-md-5 col-sm-6 control-label">Export Value :</label>
                                <input class="form-control col-lg-7 col-md-5 col-sm-6" type="number" step="0.01" id="txtvalue" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content content-number" id="rate-content"></div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <hr />
                    <div class="form-row">
                        <div class="col-lg-offset-4 col-md-2 col-sm-4 col-xs-12 col-sm-offset-4">
                            <button type="button" id="btn-submit-export" class="btn btn-new form-control col-xs-12 disabled"><i class="fa fa-pencil-square-o"></i>&nbsp;Submit</button>
                        </div>
                        @*<div class="col-md-2 col-sm-4 col-xs-12 col-sm-offset-0">
                            <button type="button" id="btn-delete-export" class="btn btn-danger btn-bold btn-block disabled"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Styles {
    @Styles.Render("~/Content/views/setup")
    @Styles.Render("~/Content/bootstrap-table")
}
@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-table/bootstrap-table.js")"></script>
    @Scripts.Render("~/bundles/scripts/exportD")
}


