﻿@using System.Web.Optimization
@{
    ViewBag.title = "Information Not Found";
    Layout = "~/Views/Shared/_PrototypeLayout.cshtml";
}
<div class="container landing">
    <div class="jumbotron text-center" style="margin-top: 150px;">
        <h1>Regrade Not Found</h1>
        <p>This Regrade no not found, Please select another one to process.</p>
        @Html.ActionLink("Return to Regrade Page", "Index", "Regrade", null, new { @class = "btn btn-primary" })
    </div>
</div>
@section Styles { @Styles.Render("~/Content/css/views/landing-success.css") }
