﻿@using System.Web.Optimization
@{
    ViewBag.title = "Update Success";
    Layout = "~/Views/Shared/_PrototypeLayout.cshtml";
}
<div class="container landing">
    <div class="jumbotron text-center" style="margin-top: 150px;">
        <h1>Hand Strip updated</h1>
        <p>Hand Strip details have been updated.</p>
        @Html.ActionLink("Return to Hand Strip Page", "Index", "HandStrip", null, new { @class = "btn btn-primary" })
    </div>
</div>
@section Styles { @Styles.Render("~/Content/css/views/landing-success.css") }
