﻿@using System.Web.Optimization
@using PSWebApp.Models
@using PSWebApp.Model
@{
    ViewBag.title = "Redrying Code Details";
    Layout = "~/Views/Shared/_PrototypeLayout.cshtml";
    String currentAction = ViewContext.RouteData.Values["action"].ToString();
    String currentController = ViewContext.RouteData.Values["controller"].ToString();
    UserInfo currentUser = (UserInfo)ViewBag.CurrentUser;

    DateTime today = DateTime.Now;
}
@model PSWebApp.Models.RedryCodeModels
@section HeaderLeft {
    @Html.Partial("_NavigationPartial", new NavigationModel() { Title = "Redrying and Transportation Code Details", Instruction = "Show Redrying and Transportation Code Details ", Url = Url.Action("Index", "RedryCode") })
}
@using (Html.BeginForm("EditRedryCode", "RedryCode", FormMethod.Post, new { @id = "frm-redryCode-details", @class = "form-horizontal", @role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="hero">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group fieldset-row">
            <div class="filterBox">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Crop :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @Html.EditorFor(model => model.Crop, new { htmlAttributes = new { @class = "form-control", @placeholder = "Crop", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Crop, "", new { @class = "text-danger" })
                                </div>
                                <div class="text-left-lg col-md-5 col-sm-4 col-xs-12 col-sm-offset-0">
                                    <input type="radio" id="byProduct" name="byProductOptions" value="byProduct" />
                                    <label for="byProduct">By Product</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Packed Grade :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @Html.EditorFor(model => model.Packedgrade, new { htmlAttributes = new { @class = "form-control", @placeholder = "Customer", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Packedgrade, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Type :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control", @placeholder = "Type" } })
                                    @Html.ValidationMessageFor(model => model.Type)
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Customer :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.Customer, new { htmlAttributes = new { @class = "form-control", @placeholder = "By Product Price" } })
                                    @Html.ValidationMessageFor(model => model.Customer, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">From :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @Html.EditorFor(model => model.From, "", new { htmlAttributes = new { @class = "form-control", @placeholder = "Net Def" } })
                                    @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Net Def :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.NetDef, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tare Def" } })
                                    @Html.ValidationMessageFor(model => model.NetDef, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Tare Def :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.TareDef, new { htmlAttributes = new { @class = "form-control", @placeholder = "Gross Def" } })
                                    @Html.ValidationMessageFor(model => model.TareDef, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Gross Def :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @Html.EditorFor(model => model.GrossDef, new { htmlAttributes = new { @class = "form-control", @placeholder = "%GEP" } })
                                    @Html.ValidationMessageFor(model => model.GrossDef, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">% GEP :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.Gep, new { htmlAttributes = new { @class = "form-control", @placeholder = "Transport Code" } })
                                    @Html.ValidationMessageFor(model => model.Gep, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">GEP Baht :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.GepBaht, new { htmlAttributes = new { @class = "form-control", @placeholder = "Redrying Code" } })
                                    @Html.ValidationMessageFor(model => model.GepBaht, "", new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>
                    </div>
                </div> 
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">By Product Price :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @placeholder = "Price" } })
                                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Transport Code :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    <select id="TCodes" class="form-control">
                                        @{ var TCodes = (List<TransportationInfo>)ViewBag.TransportCode; }
                                        @foreach(var TCode in TCodes)
                                        {
                                            <option value="@TCode.TransportCode" @(TCode.TransportCode == Model.TransportCode ? "selected" : "")>@TCode.TransportCode </option>
                                        }
                                    </select>
                                    @Html.HiddenFor(model => model.TransportCode, new { id = "transport-code" })
                                    @Html.ValidationMessageFor(model => model.TransportCode, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Redry Charge Code :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    <select id="RCodes" class="form-control">
                                        @{ var RCodes = (List<RedryInfo>)ViewBag.RedryCode; }
                                        @foreach (var RCode in RCodes)
                                        {
                                            <option value="@RCode.RedryCode" @(RCode.RedryCode == Model.RedryCode ? "selected" : "")>@RCode.RedryCode </option>
                                        }
                                    </select>
                                    @Html.HiddenFor(model => model.RedryCode, new { id = "redry-code" })
                                    @Html.ValidationMessageFor(model => model.RedryCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label"></label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Price :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    <select id="TCodes-Charge" class="form-control">
                                        @{ var TCodeCharges = (List<TransportationInfo>)ViewBag.TransportCode; }
                                        @foreach (var c in TCodeCharges)
                                        {
                                            <option trans-Code="@c.TransportCode" value="@c.TransportCharge" @(c.TransportCharge == Model.Transport ? "selected" : "")>@c.TransportCharge</option>
                                        }
                                    </select>
                                    @*@Html.HiddenFor(model => model.Transport, new { id = "transport" })
                                    @Html.ValidationMessageFor(model => model.Transport, "", new { @class = "text-danger" })*@
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Price :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    <select id="RCodes-Charge" class="form-control">
                                        @{ var RCodeCharges = (List<RedryInfo>)ViewBag.RedryCode; }
                                        @foreach (var c in RCodeCharges)
                                        {
                                            <option redry-Code="@c.RedryCode" value="@c.RedryCharge" @(c.RedryCharge == Model.RedryCharge ? "selected" : "")>@c.RedryCharge</option>
                                        }
                                    </select>
                                    @*@Html.HiddenFor(model => model.RedryCharge, new { id = "redry-charge" })
                                    @Html.ValidationMessageFor(model => model.RedryCharge, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                                                 
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <hr>
                    <div class="form-row">
                        <div class="text-right col-md-2 col-sm-4 col-xs-12 col-sm-offset-4">
                            <button type="submit" id="btn-add-redryCode" class="btn btn-primary btn-bold btn-block"><i class="fa fa-floppy-o"></i>&nbsp;Submit</button>
                        </div>
                        <div class="text-right col-md-2 col-sm-4 col-xs-12 col-sm-offset-0">
                            <button type="button" id="btn-delete-redryCode" class="btn btn-danger btn-bold btn-block"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>          
        </div>
}
@section Styles {
    @Styles.Render("~/Content/views/receiving")
    @Styles.Render("~/Content/bootstrap-table")
}
@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-table/bootstrap-table.js")"></script>
    @Scripts.Render("~/bundles/scripts/redryCodeD")
 }

