﻿@using System.Web.Optimization
@using PSWebApp.Models
@using PSWebApp.Model
@{
    ViewBag.title = "Redrying and Transportation Code Main";
    Layout = "~/Views/Shared/_PrototypeLayout.cshtml";
    String currentAction = ViewContext.RouteData.Values["action"].ToString();
    String currentController = ViewContext.RouteData.Values["controller"].ToString();
    //UserInfo currentUser = (UserInfo)ViewBag.CurrentUser;
}
@section HeaderLeft {
    @Html.Partial("_NavigationPartial", new NavigationModel() { Title = "Redrying and Transportation Code", Instruction = "Show all Redrying and Transportation Code", Url = Url.Action("Index", "Home") })
}
<div class="hero">
    <div class="form-group fieldset-row">
        <div class="filterBox">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                <div class="form-row">
                    <label class="control-label col-lg-1 col-md-1 col-sm-4">Crop :</label>
                    <div class="col-lg-10 col-md-10 col-sm-4 col-xs-6">                      
                        <div class="form-group row">
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <select id="dropdown-crop" class="form-control">
                                    <option selected disabled>Select Crop</option>
                                    @foreach (var c in (List<CropReceiving>)ViewBag.Crop)
                                    {
                                        <option id="crop" name="Crop" value="@c.N_CROP">@c.N_CROP</option>
                                    }
                                </select>
                            </div>
                            <div class="text-left-lg col-md-3 col-sm-4 col-xs-12 col-sm-offset-0">
                                <input type="radio" id="byProduct" name="byProductOptions" value="byProduct" />
                                <label for="byProduct">By Product</label>
                            </div>
                            <div class="text-left-lg col-md-3 col-sm-3 col-xs-12 validation-cell">
                                <input type="text" class="form-control hidden" id="txtPacked" placeholder="Packed Grade" />
                            </div>
                            <div class="text-left-lg col-md-3 col-sm-3 col-xs-12 validation-cell">
                                <input type="text" class="form-control hidden" id="txtCrop" placeholder="Crop" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                <div class="form-row">
                    <label class="col-lg-1 col-md-1 col-sm-2 control-label">Packed Grade :</label>
                    <div class="col-lg-11 col-md-11 col-sm-10">
                        <div class="form-group row">
                            <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                <input type="text" class="form-control" id="txtPacked" placeholder="Packed Grade" />
                            </div>
                            <label class="control-label col-lg-2 col-md-2 col-sm-2">Type :</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                <input type="text" class="form-control" id="txtType" placeholder="Type" />
                            </div>
                            <label class="control-label col-lg-2 col-md-2 col-sm-2">Customer :</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                <input class="form-control" id="txtCustomer" placeholder="Customer" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                <div class="form-row">
                    <label class="col-lg-1 col-md-1 col-sm-2 control-label">From :</label>
                    <div class="col-lg-11 col-md-11 col-sm-10">
                        <div class="form-group row">
                            <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                <input type="text" class="form-control" id="txtFrom" placeholder="From" />
                            </div>
                            <label class="control-label col-lg-2 col-md-2 col-sm-2">Net Def :</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                <input type="number"  class="form-control" id="txtNet" placeholder="Net Def" />
                            </div>
                            <label class="control-label col-lg-2 col-md-2 col-sm-2">Tare Def :</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                <input type="number" class="form-control" id="txtTare" placeholder="Tare Def" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                <div class="form-row">
                    <label class="col-lg-1 col-md-1 col-sm-2 control-label">Gross Def :</label>
                    <div class="col-lg-11 col-md-11 col-sm-10">
                        <div class="form-group row">
                            <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                <input type="number" class="form-control" id="txtGross" placeholder="Gross Def" />
                            </div>
                            <label class="control-label col-lg-2 col-md-2 col-sm-2">% GEP :</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                <input type="text" class="form-control" id="txtgep" placeholder="% GEP" />
                            </div>
                            <label class="control-label col-lg-2 col-md-2 col-sm-2">GEP Baht :</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                <input type="number" step="0.01" class="form-control" id="txtGEPBaht" placeholder="GEP Baht" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                <div class="form-row">
                    <label class="col-lg-1 col-md-1 col-sm-2 control-label">By Product Price :</label>
                    <div class="col-lg-11 col-md-11 col-sm-10">
                        <div class="form-group row">
                            <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                <input type="number" step="0.01" class="form-control" id="ByProduct" placeholder="Price" />
                            </div>
                            <label class="control-label col-lg-2 col-md-2 col-sm-2">Transport Charge Code :</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                @*<select id="dropdown-Transport" class="form-control">
                                    <option selected disabled>Select Code</option>
                                    @foreach (var c in Model)
                                    {
                                        <option data-crop="@c.Crop" value="@c.RedryCode">@c.RedryCode</option>
                                    }
                                </select>
                            </div>
                            <label class="control-label col-lg-2 col-md-2 col-sm-2">Redrying Charge Code :</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                @{ var selected_redry = ((List<Partner>)ViewBag.Partners).Find(p => p.PartnerId == Model.PartnerId); }*@
                                @*<select id="dropdown-Redrying" class="form-control">
                                    <option selected disabled>Select Code</option>
                                    @foreach (var c in (List<CropReceiving>)ViewBag.Crop)
                                    {
                                        <option id="RdCode" name="RdCode" value="@c.N_CROP">@c.N_CROP</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                <div class="form-row">
                    <label class="col-lg-1 col-md-1 col-sm-2 control-label"></label>
                    <div class="col-lg-11 col-md-11 col-sm-10">
                        <div class="form-group row">
                            <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">                                
                            </div>
                            <label class="control-label col-lg-2 col-md-2 col-sm-2">Transport Price :</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                <input type="number" step="0.01" class="form-control" id="txtTransportPrice" placeholder="Price" />
                            </div>
                            <label class="control-label col-lg-2 col-md-2 col-sm-2">Redrying Price :</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                <input type="number" step="0.01" class="form-control" id="txtRedryPrice" placeholder="Price" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                <hr />
                <div class="text-right col-md-2 col-sm-4 col-xs-12 col-sm-offset-4">
                    @using (Html.BeginForm("EditRedryCode", "RedryCode", FormMethod.Get, new { @id = "frm-redryCode-details", @role = "form" }))
                    {
                        <input type="hidden" id="cropSelected" name="Crop">
                        <input type="hidden" id="packGrade" name="PackGrade">
                        <button type="submit" id="btn-update-redryCode" class="btn btn-new form-control col-xs-12 disabled"><i class="fa fa-file-text" aria-hidden="true"></i>&nbsp;Update</button>
                    } 
                </div>
                <div class="text-right col-md-2 col-sm-4 col-xs-12 col-sm-offset-0">
                    <button type="button" id="btn-delete-redryCode" class="btn btn-danger form-control col-xs-12 disabled"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
                </div>
            </div>
        </div>
    </div>
    <table id="redryCode-table" class="table table-striped"
           data-pagination="true"
           data-side-pagination="server"
           data-sort-name="packed_grade"
           data-sort-order="asc">
        <thead>
            <tr>
                <th data-field="Crop" data-sortable="true" data-width="50">Crop</th>
                <th data-field="packed_grade" data-sortable="true" data-width="100">Packed Grade</th>
                <th data-field="type" data-sortable="true" data-width="50">Type</th>
                <th data-field="customer" data-sortable="true" data-width="100">Customer</th>
                <th data-field="form" data-sortable="true" data-width="50">Form</th>
                <th data-field="net_def" data-sortable="true" data-width="80">Net Def</th>
                <th data-field="tare_def" data-sortable="true" data-width="80">Tare Def</th>
                <th data-field="gross_def" data-sortable="true" data-width="80">Gross Def</th>
                <th data-field="gep" data-sortable="true" data-width="80">% GEP</th>
                <th data-field="gep_baht" data-sortable="true" data-width="80">GEP Baht</th>
                <th data-field="transport_code" data-sortable="true" data-width="50">Transport Charge Code</th>
                <th data-field="transport" data-sortable="true" data-width="80">Price</th>
                <th data-field="redry_code" data-sortable="true" data-width="50">Redry Charge Code</th>
                <th data-field="redry_charge" data-sortable="true" data-width="80">Price</th>
                <th data-field="company" data-sortable="true" data-width="50">By Product</th>
                <th data-field="price" data-sortable="true" data-width="80">Price</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script>
    var urlpath = '@Url.Action("JsonRedryCodeByProduct", "RedryCode")';
    var urlnew = '@Url.Action("JsonRedryCode", "RedryCode")';
</script>
@section Styles {
    @Styles.Render("~/Content/views/setup")
    @Styles.Render("~/Content/bootstrap-table")
}
@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-table/bootstrap-table.js")"></script>
    @Scripts.Render("~/bundles/scripts/redryCode")
}