﻿@using System.Web.Optimization
@using PSWebApp.Models
@{
    ViewBag.title = "Processing By-Product Details";
    Layout = "~/Views/Shared/_PrototypeLayout.cshtml";
    String currentAction = ViewContext.RouteData.Values["action"].ToString();
    String currentController = ViewContext.RouteData.Values["controller"].ToString();
    UserInfo currentUser = (UserInfo)ViewBag.CurrentUser;

    DateTime today = DateTime.Now;
}
@model PSWebApp.Models.ProcessProductModels
@section HeaderLeft {
    @Html.Partial("_NavigationPartial", new NavigationModel() { Title = "Processing By-Product Details", Instruction = "Show Processing By-Product Details ", Url = Url.Action("Index", "ProcessProduct") })
}
@using (Html.BeginForm("EditProcessProduct", "ProcessProduct", FormMethod.Post, new { @id = "frm-process-product-details", @class = "form-horizontal", @role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="hero">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group fieldset-row">
            <div class="filterBox">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Processing No :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @Html.EditorFor(model => model.ProcessingP_No, new { htmlAttributes = new { @class = "form-control", @placeholder = "Processing no", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.ProcessingP_No, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Document No :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @Html.EditorFor(model => model.Doc_No, new { htmlAttributes = new { @class = "form-control", @placeholder = "Document no", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Doc_No, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Document Date :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @{ Html.EnableClientValidation(false); }
                                    @Html.EditorFor(model => model.Doc_Date, new { htmlAttributes = new { @class = "form-control", @placeholder = "Document Date", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Doc_Date)
                                    @{ Html.EnableClientValidation(true); }
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Company Code :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control", @placeholder = "Company", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Crop :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @Html.EditorFor(model => model.Crop, "", new { htmlAttributes = new { @class = "form-control", @placeholder = "Crop", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Crop, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Type :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control", @placeholder = "Type", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Season :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.Season, new { htmlAttributes = new { @class = "form-control", @placeholder = "Season", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Season, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Total Amount :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @Html.EditorFor(model => model.Total_Amt, new { htmlAttributes = new { @class = "form-control", @placeholder = "Total Amount", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Total_Amt, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Total Weight :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.Total_Weight, new { htmlAttributes = new { @class = "form-control", @placeholder = "Total Weight", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Total_Weight, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Average Price :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.Average_Price, new { htmlAttributes = new { @class = "form-control", @placeholder = "Average Price", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Average_Price, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <hr>
                    <div class="form-row">
                        @if (string.IsNullOrEmpty(Model.Doc_No))
                        {
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="width:15%; margin-left:35%; margin-right:30%;">
                                <button type="submit" id="btn-add-processProduct" class="btn btn-primary btn-bold btn-block"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="width:15%; margin-left:35%; margin-right:30%;">
                                <button type="button" id="btn-delete-processProduct" class="btn btn-danger btn-bold btn-block"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
        <div>
            <table id="process-table" data-url="@Url.Action("JsonProcessingProductDetails", "ProcessProduct")" class="table table-striped"
                   data-pagination="true"
                   data-side-pagination="server"
                   data-sort-name="packed_grade"
                   data-sort-order="asc">
                <thead>
                    <tr>
                        <th data-field="packed_grade" data-sortable="true" data-width="150">Packed Grade</th>
                        <th data-field="weight" data-sortable="true" data-width="100">Weight</th>
                        <th data-field="unit_price" data-sortable="true" data-width="100">Unit Price</th>
                        <th data-field="amount" data-sortable="true" data-width="100">Amount</th>
                        <th data-field="packing_mat" data-sortable="true" data-width="150">Packing Material</th>
                        <th data-field="trans_charge" data-sortable="true" data-width="150">Transport Charge</th>
                        <th data-field="total_cost" data-sortable="true" data-width="100">Total Cost</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </div>
                                        }
@section Styles {
    @Styles.Render("~/Content/views/receiving")
    @Styles.Render("~/Content/bootstrap-table")
}
@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-table/bootstrap-table.js")"></script>
    @Scripts.Render("~/bundles/scripts/processProductD")
}

