﻿body
{
    height: auto;
    background-image: linear-gradient(to bottom, #dca74a, #efecea); 
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    background-attachment: fixed;
}

.jumbotron {
    padding-bottom: 80px;
    color: #fff;
    margin-top: 80px;
    z-index: 15;
    background-color: rgba(0,123,123,0.9);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
