﻿@using System.Web.Optimization
@using PSWebApp.Models
@{
    ViewBag.title = "Redry Charge Main";
    Layout = "~/Views/Shared/_PrototypeLayout.cshtml";
    String currentAction = ViewContext.RouteData.Values["action"].ToString();
    String currentController = ViewContext.RouteData.Values["controller"].ToString();
    UserInfo currentUser = (UserInfo)ViewBag.CurrentUser;
}
@model PSWebApp.Models.RedryChargeModels
@section HeaderLeft {
    @Html.Partial("_NavigationPartial", new NavigationModel() { Title = "Redry and Transport", Instruction = "Redrying Charge and Transportation", Url = Url.Action("Index", "Home") })
}
<div class="hero">
    <div class="form-group fieldset-row">
        <div class="filterBox">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                <div class="form-row">
                    <label class="col-lg-1 col-md-1 col-sm-2 control-label">Crop :</label>
                    <div class="col-lg-11 col-md-11 col-sm-10">                     
                        <div class="form-group row">
                            <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                <input type="text" class="form-control" id="txt-crop" placeholder="Crop" onkeypress="return FindRedryCharge(event)" />
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12 col-sm-offset-0">
                                <div class="dropdown">
                                    <button class="btn btn-dropdown dropdown-toggle btn-default btn-primary" type="button" id="dropdown-type" data-toggle="dropdown">
                                        <strong>Redrying Charge</strong>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-type">
                                        <li role="presentation"><a role="menu" tabindex="-1" href="#" data-action="redry">Redrying Charge</a></li>
                                        <li role="presentation"><a role="menu" tabindex="-1" href="#" data-action="trans">Transportation</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                <div class="form-row">
                    <label class="col-lg-1 col-md-1 col-sm-2 control-label">Code :</label>
                    <div class="col-lg-11 col-md-11 col-sm-10">
                        <div class="form-group row">
                            <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                <input type="text" class="form-control" id="txtCode" oninput="this.value = this.value.toUpperCase()" placeholder="Code" />
                            </div>
                            <label class="control-label col-lg-2 col-md-2 col-sm-2">Description :</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                <input type="text" class="form-control" id="txtDescription" placeholder="Description" />
                            </div>
                            <label class="control-label col-lg-2 col-md-2 col-sm-2">Unit Cost :</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                <input type="number" step="0.01" class="form-control" id="txtUnit" placeholder="Unit Cost" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                <hr />
                <div class="form-row">
                    <div class="col-lg-offset-3 col-md-2 col-sm-4 col-xs-12 col-sm-offset-0">
                        <button type="button" id="btn-submit-redrycharge" class="btn btn-new form-control col-xs-12 disabled"><i class="fa fa-pencil-square-o"></i>&nbsp;Submit</button>
                        @*<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#redryC-modal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Add New</button>*@
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12 col-sm-offset-0">
                        <button type="button" id="btn-delete-redrycharge" class="btn btn-danger btn-bold btn-block disabled"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table id="redryC-table" class="table table-striped"
            data-pagination="true"
            data-side-pagination="server"
            data-sort-name="code"
            data-sort-order="asc">
        <thead>
            <tr>
                <th data-field="crop" data-sortable="true" data-width="50">Crop</th>
                <th data-field="redry_trans_charge_code" data-sortable="true" data-width="80">Code</th>
                <th data-field="redry_trans_charge_desc" data-sortable="true" data-width="200">Description</th>
                <th data-field="charge" data-sortable="true" data-width="100">Unit Cost</th>                
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div class="modal fade in" id="redryC-modal" tabindex="-1" role="dialog" aria-labelledby="redryC-modal-label" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="frm-setup-redryC">
                <div class="modal-header">
                    <h4 class="modal-title" id="redryC-modal-label">Redry Charge and Transportation</h4>
                    <button id="btn-redryC-modal-close" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="dropdown">
                        <button class="btn btn-dropdown dropdown-toggle btn-default btn-primary" type="button" id="dropdown-type" data-toggle="dropdown">
                            <strong>Redrying Charge</strong>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-type">
                            <li role="presentation"><a role="menu" tabindex="-1" href="#" data-action="redry">Redrying Charge</a></li>
                            <li role="presentation"><a role="menu" tabindex="-1" href="#" data-action="trans">Transportation</a></li>
                        </ul>
                    </div>
                    <hr />
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="redry-trans-code" class="col-lg-4 col-md-4 col-sm-4 control-label">Code</label>
                            <div class="col=-lg-8 col-md-8 col-sm-8">
                                <input type="text" name="taxInvoiceNumber" class="form-control" id="redry-trans-code" placeholder="Code" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="redry-trans-desc" class="col-lg-4 col-md-4 col-sm-4 control-label">Description</label>
                            <div class="col=-lg-8 col-md-8 col-sm-8">
                                <textarea name="reason" class="form-control" id="redry-trans-desc" placeholder="Description" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="redry-trans-cost" class="col-lg-4 col-md-4 col-sm-4 control-label">Unit Cost</label>
                            <div class="col=-lg-8 col-md-8 col-sm-8">
                                <input type="text" class="form-control" id="redry-trans-cost" placeholder="Unit Cost" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-redryC-modal-close2" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="btn-save-redryC" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var urlpath = '@Url.Action("JsonShowRedryCharge", "RedryCharge")';
    var urlnew = '@Url.Action("JsonShowTransCharge", "RedryCharge")';
</script>
@section Styles {
    @Styles.Render("~/Content/views/setup")
    @Styles.Render("~/Content/bootstrap-table")
}
@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-table/bootstrap-table.js")"></script>
    @Scripts.Render("~/bundles/scripts/redry")
}
