﻿@using System.Web.Optimization
@using PSWebApp.Models
@using PSWebApp.Model
@{
    ViewBag.title = "Shipping Production Details";
    Layout = "~/Views/Shared/_PrototypeLayout.cshtml";
    String currentAction = ViewContext.RouteData.Values["action"].ToString();
    String currentController = ViewContext.RouteData.Values["controller"].ToString();
    UserInfo currentUser = (UserInfo)ViewBag.CurrentUser;

    DateTime today = DateTime.Now;
}
@model PSWebApp.Models.ShippingProductModels
@section HeaderLeft {
    @Html.Partial("_NavigationPartial", new NavigationModel() { Title = "Shipping Product Details", Instruction = "Show shipping production Details ", Url = Url.Action("Index", "ShippingProduction") })
}
@using (Html.BeginForm("EditShippingProduct", "ShippingProduction", FormMethod.Post, new { @id = "frm-shipping-product-details", @class = "form-horizontal", @role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="hero">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group fieldset-row">
            <div class="filterBox">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Shipping No :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @Html.EditorFor(model => model.Shipping_No, new { htmlAttributes = new { @class = "form-control", @placeholder = "Shipping no", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Shipping_No, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-2">
                                    @*<div class="col-lg-6 col-md-6 col-sm-3 validation-cell">
                                        @Html.RadioButton("TypeRB", "Product", ViewBag.TypeRB == "R") Product
                                        <label>
                                            <input type="radio" name="ProductRB" @(Model.TypeRB.Contains("R") ? "checked = checked" : "")  value="R" /> Product                                        
                                        </label>                                        
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-3 validation-cell">
                                        <label>
                                            <input type="radio" name="ProductRB" @(Model.TypeRB.Contains("RB") ? "checked = checked" : "") value="B"> By-Product<br />
                                        </label>
                                    </div>*@
                                    <div class="dropdown">
                                        @{
                                            var typeRBs = (List<TypeRBInfo>)ViewBag.typeRB;
                                            var selectedTypeRBs = typeRBs.SingleOrDefault(t => t.TypeName == Model.TypeRB).Description;
                                        }
                                        <button class="btn btn-sm dropdown-toggle btn-type" type="button" id="dropdown-type-rb" data-toggle="dropdown">
                                            @selectedTypeRBs
                                        </button>
                                        <ul class="dropdown-menu dropdown-type" role="menu" aria-labelledby="dropdown-type-rb">
                                            @foreach (var t in typeRBs)
                                            {
                                                <li role="presentation"><a role="menuitem" tabindex="-1" data-value="@t.TypeName">@t.Description</a></li>
                                            }
                                        </ul>
                                    </div>
                                    <input id="shippingTypeRB" type="hidden" name="SelectedTypeRB" value="@Model.TypeRB" />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Document No :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @Html.EditorFor(model => model.Doc_No, new { htmlAttributes = new { @class = "form-control", @placeholder = "Document no", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Doc_No, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Document Date :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @{ Html.EnableClientValidation(false); }
                                    @Html.EditorFor(model => model.Doc_Date, new { htmlAttributes = new { @class = "form-control", @placeholder = "Document Date", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Doc_Date)
                                    @{ Html.EnableClientValidation(true); }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Crop :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @Html.EditorFor(model => model.Crop, "", new { htmlAttributes = new { @class = "form-control", @placeholder = "Crop", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Crop, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Type :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @*@Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control", @placeholder = "Type" } })
                                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })*@
                                    <div class="dropdown">
                                        @{ 
                                            var types = (List<TypeInfo>)ViewBag.typeShipping;
                                            var selectedType = types.SingleOrDefault(t => t.TypeName == Model.Type).TypeName;
                                        }
                                        <button class="btn btn-sm dropdown-toggle btn-block btn-type" type="button" id="dropdown-type" data-toggle="dropdown">
                                            @selectedType
                                        </button>
                                        <ul class="dropdown-menu dropdown-type" role="menu" aria-labelledby="dropdown-type">
                                            @foreach (var t in types)
                                            {
                                                <li role="presentation"><a role="menuitem" tabindex="-1" data-value="@t.TypeName">@t.TypeName</a></li>
                                            }
                                        </ul>
                                    </div>
                                    <input id="shippingType" type="hidden" name="SelectedType" value="@Model.Type" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-cell">
                    <div class="form-row">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Total Amount :</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="form-group row">
                                <div class="col-lg-2 col-md-2 col-sm-2 validation-cell">
                                    @Html.EditorFor(model => model.Total_Amt, new { htmlAttributes = new { @class = "form-control", @placeholder = "Total Amount", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Total_Amt, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Total Weight :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.Total_Weight, new { htmlAttributes = new { @class = "form-control", @placeholder = "Total Weight", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Total_Weight, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-lg-2 col-md-2 col-sm-2">Average Price :</label>
                                <div class="col-lg-3 col-md-3 col-sm-3 validation-cell">
                                    @Html.EditorFor(model => model.Average_Price, new { htmlAttributes = new { @class = "form-control", @placeholder = "Average Price", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.Average_Price, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <hr>
                    <div class="form-row">
                        @if (string.IsNullOrEmpty(Model.Doc_No))
                        {
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="width:15%; margin-left:35%; margin-right:30%;">
                                <button type="submit" id="btn-add-shipping-Product" class="btn btn-primary btn-bold btn-block"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="width:15%; margin-left:35%; margin-right:30%;">
                                <button type="button" id="btn-delete-shipping-Product" class="btn btn-danger btn-bold btn-block"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
        <div>
            <table id="shipping-table" data-url="@Url.Action("JsonShippingProductDetails", "ShippingProduction")" class="table table-striped"
                   data-pagination="true"
                   data-side-pagination="server"
                   data-sort-name="packed_grade"
                   data-sort-order="asc">
                <thead>
                    <tr>
                        <th data-field="company" data-sortable="true" data-width="100">Company</th>
                        <th data-field="packed_grade" data-sortable="true" data-width="150">Packed Grade</th>
                        <th data-field="case_no" data-sortable="true" data-width="120">Case No</th>
                        <th data-field="weight" data-sortable="true" data-width="100">Weight</th>
                        <th data-field="unit_cost" data-sortable="true" data-width="100">Unit Cost</th>
                        <th data-field="amount" data-sortable="true" data-width="100">Amount</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <script>
        var urlpath = '@Url.Action("JsonShippingProductDetails", "ShippingProduction")';
    </script>
}
@section Styles {
    @Styles.Render("~/Content/views/receiving")
    @Styles.Render("~/Content/bootstrap-table")
}
@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-table/bootstrap-table.js")"></script>
    @Scripts.Render("~/bundles/scripts/shippingD")
}

