﻿@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

html {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    /*background-color: #f3eed5;*/
    background-image: linear-gradient(to bottom, #dca74a, #efecea); 
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    //background-attachment: fixed;
}

#scrolldownarrow {
    z-index: 150;
    padding: 10px;
    background-color: rgba(255,255,255,0.2);
    text-align: center;
    position: fixed;
    bottom: 5px;
    margin: auto 50%;
    left: -25px;
}


#toastBox {
    z-index: 150;
    padding: 10px;
    background-color: rgba(255,255,255,0.8);
    text-align: center;
    position: fixed;
    bottom: 90px;
    margin: auto 50%;
    left: -195px;
    width: 400px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: none;
}

#scrolldownarrow i {
    color: #fff;
    font-size: 48px;
}

#scrolldownarrow:hover {
    background-color: rgba(255,255,255,0.5);
    cursor: pointer;
}

/*Start Main Page*/

.header-bar {
    color: #fff;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 100;
}

    .header-bar a {
        color: #fff;
    }

    .header-bar > div:first-child, .header-bar > div:first-child i {
        float: left;
    }

        .header-bar > div:first-child > div {
            float: left;
            padding-top: 10px;
        }

            .header-bar > div:first-child > div > h2 {
                margin-top: 7px;
                font-weight: bold;
                text-shadow: 1px 1px 2px rgba(50, 50, 50, 1);
            }

    .header-bar > div:last-child {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .hs-right-logo {
        position: static!important;
        float: right;
    }

    .hs-right-logo > img {
        max-height: 60px;
    }

.header-left {
    float: left;
    padding-top: 10px;
}

    .header-left > h2 {
        margin-top: 7px;
        font-weight: bold;
        text-shadow: 1px 1px 2px rgba(50, 50, 50, 1);
    }

.fa-bars, .fa-chevron-left {
    font-size: 30px;
    margin: 20px 0px 0px 20px;
}

    .fa-bars:hover, .fa-chevron-left:hover {
        opacity: 0.5;
        cursor: pointer;
    }

ul.topmenu {
    margin-bottom: 0px;
}

.topmenu li {
    display: inline;
    margin: 10px;
    font-size: 14px;
    cursor: pointer;
    color: #aaa;
    line-height: 30px;
    white-space: nowrap;
}

    .topmenu li:hover {
        display: inline;
        margin: 10px;
        font-size: 14px;
        cursor: pointer;
        color: #fff;
    }

    .topmenu li i {
        margin-right: 5px;
        font-size: 18px;
    }

.search-source {
    padding-left: 15px;
    padding-right: 15px;
    display: table;
    width: 100%;
    list-style: none;
    table-layout: fixed;
}

    .search-source li {
        display: table-cell;
        font-size: 16px;
        cursor: pointer;
        color: #aaa;
        padding: 5px 10px;
        text-align: center;
    }

    .search-source > li > a:hover, .search-source > li.active > a {
        color: white;
    }

/*End Main Page*/


/*Start Menu Page*/

.catagory-title {
    font-size: 16px;
    font-weight: bold;
    color: #605F63;
}

.catagory-sub-title:hover {
    color: #605F63;
    font-weight: bold;
    cursor: pointer;
}


.catagory-sub-title {
    font-size: 12px;
    color: #747479;
}

.catagory-desc-title {
    font-size: 10px;
    color: #AAACB2;
}

.account-icon {
    color: #EF6431;
}

.prospecting-icon {
    color: #A72E69;
}

.due-diligence-icon {
    color: #14A89D;
}

.monitoring-icon {
    color: #362A6A;
}

.investigatio-icon {
    color: #8CC63D;
}

.research-data-icon {
    color: #DB8538;
}

.administrator-icon {
    color: #08AEEF !important;
}

.catagory-title-box {
    clear: both;
    border-bottom: 1px solid #aaa;
    padding-top: 15px;
    width: 100%;
    display: inline-block;
}

    .catagory-title-box i {
        font-size: 26px;
        margin-right: 5px;
    }

.sub-icon, .menu-sub-box {
    float: left;
}

    .sub-icon i {
        font-size: 22px;
        margin-right: 5px;
        margin-top: 2px;
    }

.catagory-box {
    padding: 10px 50px;
}

.catagory-sub-box {
    float: left;
    width: 290px;
    margin-bottom: 5px;
}

/*End Menu Page*/


/*Search Page*/

.topAlertBox {
    width: 100%;
    padding: 10px;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    text-align: center;
    margin-bottom: 2px;
}

.fa-circle {
    margin-right: 3px;
    color: #f00;
}

.search-result-item-type {
    font-size: 14px;
    font-weight: bold;
    float: right;
    color: #000;
}

    .search-result-item-type i.pointer {
        color: #37ADF7;
    }

/*End search page*/

/*Recent Company*/

.topMenu {
    padding-left: 0px;
    margin-top: 10px;
}

    .topMenu li {
        display: inline;
        margin: 20px 0px;
        font-size: 14px;
        cursor: pointer;
        color: #aaa;
        padding: 7px 10px;
        margin-right: 10px;
        line-height: 30px;
        white-space: nowrap;
    }

        .topMenu li:hover {
            color: #fff;
        }

        .topMenu li.selected {
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            border-radius: 7px;
            background-color: rgba(255,255,255,0.4);
            color: #fff;
        }

.filterBox {
    width: 100%;
    padding: 5px 30px;
    background-color: #fff;
    color: #666;
    display: table;
}

    .filterBox h3 {
        font-size: 16px;
        font-weight: bold;
        margin: 0px;
        margin-right: 50px;
        float: left;
        line-height: 30px;
    }

.filterfield {
    margin-right: 20px;
}


/*HS table*/

.hstable {
    background-color: #fff;
    color: #666;
    font-size: 14px;
    width: 100%;
}

    .hstable tr th {
        background-color: #5F78A8;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
    }

table.hstable > tbody:first-of-type > tr > td:first-child {
    padding-left: 60px;
}

table.hstable > thead > tr > th:nth-child(1) {
    padding-left: 30px;
}

.hstable a {
    font-weight: bold;
    cursor: pointer;
}

.hstable2 {
    background-color: #fff;
    color: #666;
    font-size: 14px;
    width: 100%;
}

    .hstable2 tr th {
        background-color: #5F78A8;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
    }

    .hstable2 tr td:nth-child(1).center {
        vertical-align: middle !important;
        padding-left: 30px;
        text-align: center;
    }

    .hstable2 thead > tr > th:nth-child(1) {
        padding-left: 30px;
        text-align: center;
    }

    .hstable2 thead > tr > th:nth-child(2) {
        text-align: center;
    }

    .hstable2 tr td:nth-child(2).center {
        vertical-align: middle !important;
        text-align: center;
    }

table.hstable2 > thead > tr > th:nth-child(1) {
    padding-left: 30px;
}

.hstable2 a {
    font-weight: bold;
    cursor: pointer;
}


.spTitle {
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}

.hscheckbox {
    min-width: 230px;
}

/*End HS Table*/

/* Signin Signup*/

#signupBox {
    width: 90%;
    max-width: 950px;
    overflow: auto;
    z-index: 15;
    padding: 10px;
    padding-bottom: 20px;
    left: 50%;
    margin: 70px auto;
    background-color: rgba(40,70,120,0.9);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#signupboxinside h5 {
    color: #fff;
}

#signupboxinside label {
    color: #fff;
    margin-left: 0px;
    margin-bottom: 5px;
}

    #signupboxinside label input {
    }

.prototype-footer {
    padding: 10px 20px;
    color: #fff;
    width: 100%;
    position: fixed;
    bottom: 0px;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
    font-size: 12px;
}

    .prototype-footer ul li {
        display: inline;
        margin-right: 20px;
    }

        .prototype-footer ul li i {
            margin-right: 5px;
        }


#optionfooter {
    padding: 0px 5px 5px 10px;
    color: #fff;
    width: 100%;
    position: fixed;
    bottom: 0px;
    overflow: auto;
    background-color: rgba(0,123,123,0.9);
    font-size: 12px;
}

    #optionfooter ul li {
        display: inline;
        margin-right: 20px;
    }

        #optionfooter ul li i {
            margin-right: 5px;
        }

/*End Signin & Signup*/

.inputfield {
    padding: 5px 15px;
    color: #666;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #888;
    margin: 5px 15px;
    float: left;
}

.table {
    margin-bottom: 0px;
}

.addemail {
    padding: 10px 15px;
    color: #666;
    font-size: 18px;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    border: none;
    margin: 10px 0px;
    float: left;
}

    .addemail:focus {
        outline: 0;
    }

.instructionText {
    margin-top: -10px;
    color: #495f77;
}


.search-result-item {
    border-bottom: 2px solid #aaa;
}


    .search-result-item:hover {
        background-color: #eee;
        cursor: pointer;
    }

.btn-standard {
    background-color: rgba(20,20,20,0.8);
    border: 1px solid #888;
    border-radius: 20px;
    text-align: center;
    color: #fff !important;
}

    .btn-standard:hover {
        background-color: rgba(80,80,80,0.8);
        cursor: pointer;
        color: #fff;
        text-decoration: none;
    }

.btn-search {
    background-color: #444042;
    border: 1px solid #413d3f;
    color: #fff;
}

    .btn-search:hover {
        cursor: pointer;
        background-color: #6D676A;
        color: #fff;
        border: 1px solid #6D676A;
    }

    .btn-search:focus {
        color: #fff;
    }

.prototype-container {
    position: absolute;
    width: 100%;
    margin: 0px;
    margin-top: 80px;
    padding: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

    .prototype-container .fixed-table-header {
        background-color: #d1bc49;
        border-bottom-color: #d1bc49 !important;
        color: rgba(50, 50, 50, 1);
        font-size: 14px;
        font-weight: bold;
    }

.fixed-table-pagination .pagination-detail {
    background-color: #d1bc49;
}

.fixed-table-pagination .page-number > a {
    background-color: #d1bc49;
    border-color: #d1bc49;
}

    .fixed-table-pagination .page-number > a:hover {
        background-color: #f9cea9;
        border-color: #f9cea9;
    }

    .fixed-table-pagination .page-number > a:focus {
        background-color: #f9cea9;
        border-color: #f9cea9;
    }

.search-entity {
    background-color: rgba(255,255,255,0.6);
    overflow-y: auto !important;
}

.information-search {
    padding-top: 0px;
}

.information-target-outer-container {
    overflow-y: auto;
    height: 100%;
}

.information-target-container {
    background-color: rgba(40,40,40,0.8);
    padding: 10px;
    height: calc(100% - 205px);
    margin: 0px 10px;
}

.information-header {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 15px;
}

.auto-left {
    left: auto;
}

.database-discription-text {
    margin-right: 30px !important;
}

.procurementStep-well > div.well {
    font-weight: 500;
    color: #eee;
    background-color: transparent;
    border: 2px solid rgba(40,70,120,0.9);
}

    .procurementStep-well > div.well > p > a {
        font-weight: bold;
        color: midnightblue;
    }

a.list-group-item > span.btn-remove {
    display: none;
}

.search-source li.active {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color: rgba(255,255,255,0.4);
    color: #fff;
}

.navbar-select-source {
    margin-bottom: 0px;
    color: white;
    -moz-border-radius: unset;
    -webkit-border-radius: unset;
    border-radius: unset;
    min-height: unset;
}

    .navbar-select-source .navbar-nav > .active > a, .navbar-select-source .navbar-nav > .active > a:hover, .navbar-select-source .navbar-nav > .active > a:focus {
        background-color: #0098a5;
        color: white;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
    }

.nav > li > a:hover, .nav > li > a:focus {
    color: white;
    background-color: transparent;
}

.nav > li > a {
    cursor: pointer;
    color: #dcdcdc;
    text-decoration: none;
    font-size: 16px;
    padding: 7px 20px;
    margin: 0px;
}

.nav > li:first-child > a {
    margin: 0px;
}

.navbar-select-source .navbar-toggle {
    border-color: #007b85;
    background-color: #007b85;
}

    .navbar-select-source .navbar-toggle .icon-bar {
        background-color: #fff;
    }

.ul-select-source {
    table-layout: auto;
    margin: 5px 0px;
    float: none;
    display: table;
}

    .ul-select-source > li {
        display: table-cell;
        float: none;
        text-align: center;
        display: table-cell;
    }

        .ul-select-source > li > a {
            white-space: nowrap;
        }

#nav-select-source {
    padding-right: 0px;
    padding-left: 0px;
    overflow-x: auto !important;
    width: 100%;
}
/*------------ Validation -------------*/
.field-validation-error {
    padding: 2px 4px;
    font-size: 14px;
    color: red;
    font-weight: bold;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

#footer {
    color: #ffffff;
    font-size: 12px;
    height: 0px;
    bottom: 0;
    width: 100%;
    line-height: 2.5;
    position: relative;
}

    #footer a {
        color: #fff;
        margin: 0px 5px 0px 5px;
    }

    #footer > .navbar-fixed-bottom {
        width: 100%;
        background: #6c757d;
    }

    #footer .container {
        margin: auto;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

.navbar-fixed-bottom > .container {
    padding-top: 0px !important;
}

#footer .left {
    padding-left: 25px;
    margin: 9px 0px;
}

#footer .right {
    padding-right: 25px;
    text-align: right;
    margin: 9px 0px;
}

.input-group-btn .right {
    float: right;
    display: table;
}

label.col-md-6.col-sm-6.control-label {
    padding-right: 10px;
    padding-left: 15px;
}

.form-row .col-md-6, .col-sm-6 {
    padding-left: 15px;
    padding-right: 15px;
}

.btn-primary {
    background-color: #0098a5;
    border-color: #03727b;
}

    .btn-primary[disabled] {
        background-color: rgba(0,152,165,0.9);
        border-color: #03727b;
    }

    .btn-primary:hover {
        background-color: #44c0ca;
        border-color: #03727b;
    }

.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #0098a5;
  border-color: #0098a5;
}

.group-btn-solid {
    background-color: rgba(0,123,123,0.9);
    padding: 10px 30px;
}

.pagination > li > a,
.pagination > li > span {
  color: #3d585b;
}

.form-control:focus {
    border-color: #44c0ca;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #44c0ca;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #44c0ca;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #007b85;
}

@media only screen and (max-width: 767px) {
    #nav-select-source {
        position: absolute;
        z-index: 5;
        width: 100%;
        margin: 0px;
        background-color: #0098a5;
        border-radius: 0px 0px 10px 10px;
        -webkit-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.75);
        box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.75);
    }

    h2, .h2 {
        font-size: 22px;
        padding-top: 5px;
    }

    .catagory-sub-box {
        width: 100%;
    }

    .search-source li {
        font-size: 12px;
    }

    .hscheckbox {
        min-width: 90%;
        margin-left: 20px;
    }

    .radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
        margin-left: 20px;
    }

    .responsive-wrapper {
        overflow-x: auto;
        width: 200%;
    }

    .prototype-container {
        margin-top: 55px;
    }

    .prototype-container > .col-md-6, .col-sm-6 {
        padding: 0px 15px;
    }

    .information-search {
        padding-top: 0px;
    }

    .search-entity-container, .information-container {
        padding-bottom: 0px !important;
    }

    .btn-move-to-right {
        top: 5px !important;
    }

    #interconnection-entity-container {
        height: 100%;
    }

    .input-group-btn {
        padding-right: 0px;
    }

    .topmenu li {
        display: block;
        margin: 10px;
        font-size: 12px;
        cursor: pointer;
        color: #aaa;
        line-height: 20px;
        white-space: nowrap;
    }

    .topmenu {
        position: absolute;
        right: 0px;
        top: 10px;
    }

    .information-target-container {
        overflow: auto;
    }

    .instructionText {
        font-size: 10px;
        display: none;
    }

    .titleText {
        font-size: 15px;
    }

    .topMenu.custom-topMenu li {
        font-size: 12px;
    }

    .custom-btn {
        font-size: 12px;
        padding: 5px 10px;
    }

    .dropdown-menu.custom-dropdown-menu {
        font-size: 12px;
    }

    .hstable {
        font-size: 12px;
    }

        .hstable tr th {
            font-size: 12px;
        }

    .topMenu-dropdown {
        padding: 5px 30px;
    }

    .container-fluid > .navbar-header {
        margin: 0px;
        background-color: #0098a5;
    }

    .ul-select-source {
        table-layout: auto;
        margin: auto;
        display: list-item;
        width: 100%;
    }

        .ul-select-source > li {
            display: list-item;
            float: none;
            text-align: center;
        }

    .navbar-select-source .navbar-nav > .active > a,
    .navbar-select-source .navbar-nav > .active > a:hover,
    .navbar-select-source .navbar-nav > .active > a:focus {
        border-radius: 0px;
        background-color: #007b85;
    }

    .fa-bars, .fa-chevron-left {
        margin: 10px 15px;
    }

    .fa-chevron-left {
        margin: 10px;
    }

    .header-bar > div:first-child, .header-bar > div:first-child i {
        float: none;
    }

    .header-left {
        margin: 0px;
        float: none !important;
    }

        .header-left > h2 {
            margin: 0px !important;
        }

.dialogzone
{
	background-color:#bcc8da ;
	color:black;
	font-family:Tahoma,sans-serif;
	font-size:11px;
}
}

